Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

UI tweaks on edit page
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Add form component, make UI tweaks
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/TextInput.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Fix and test typing of getEntry() response
  neolace-api/src/client.test.ts
  neolace-api/src/client.ts
  neolace-api/src/content/Entry.ts
Due: none

Start to build out the edit form
  frontend/components/widgets/Form.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/content/Entry.ts
Due: build frontend docker image, deploy frontend to proto

Refactor MDT so that SlateJS can use the same general tree
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Simplify initialization of Slate.js
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Somewhat simplify LookupExpressionInput
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Add the beginnings of a markdown editor component
  frontend/components/utils/slate.ts
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Fix display of "ID" hints
  frontend/components/widgets/Form.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Add a toolbar button to toggle "source mode" vs. visual mode
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix some linter errors
  frontend/components/utils/slate.ts
  frontend/components/widgets/Form.tsx
Due: build frontend docker image, deploy frontend to proto

Partially implement a visual editor
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Better styling for inline lookup expressions in MDT Editor
  frontend/components/utils/slate-mdt.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

initial graph vis commit
  backend/neolace/core/lookup/expressions/graph.test.ts
  backend/neolace/core/lookup/expressions/graph.ts
  backend/neolace/core/lookup/values.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

Display properties in lookup expressions as void nodes
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Improve error handling when creating a relationship property
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
Due: build backend docker image, deploy backend to proto

Unrelated: fix the name of the InvalidEdit error in the API client
  neolace-api/src/errors.ts
Due: none

Fix inconsistent styling of visual editor
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Persist changes made from the visual editor
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Allow editing inline lookup expressions in the visual editor
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

New edit type: "SetEntryName", add apply() method to content edits
  neolace-api/src/edit/AnyEdit.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/apply-edits.ts
  neolace-api/src/edit/index.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: none

Refactor MDTEditor and AutoControl to work well together.
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

improved test case for graph vis
  backend/neolace/core/lookup/expressions/graph.test.ts
  backend/neolace/core/lookup/expressions/graph.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Track and show pending edits on the edit page
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

New edit to track changes made to the entry description
  frontend/components/utils/stateRefHook.ts
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/edit/ContentEdit.ts
Due: build frontend docker image, deploy frontend to proto

Fix a bug when using the arrow keys to navigate onto an inline lookup
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Escape MDT symbols when editing in visual editor
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  neolace-api/src/markdown-mdt.ts
Due: build frontend docker image, deploy frontend to proto

Add tests for markdown escape function, clean up API tests, run on CI
  .github/workflows/ci-workflow.yml
  frontend/components/utils/slate.ts
  neolace-api/src/markdown-mdt-footnote-plugin.test.ts
  neolace-api/src/markdown-mdt-heading-id-plugin.test.ts
  neolace-api/src/markdown-mdt-lookup-plugin.test.ts
  neolace-api/src/markdown-mdt-sub-plugin.test.ts
  neolace-api/src/markdown-mdt-test-helpers.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: build frontend docker image, deploy frontend to proto

Properly normalize the slate document (fix inline at end of MDT)
  frontend/components/utils/slate.ts
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Use visual mode by default, add an 'insert lookup' toolbar button
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix lint errors
  frontend/components/utils/slate.ts
  frontend/components/utils/stateRefHook.ts
Due: build frontend docker image, deploy frontend to proto

Bump package versions
  backend/import_map.json
  frontend/package-lock.json
  frontend/package.json
  neolace-api/_compile.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/markdown-mdt-test-helpers.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Improve error display on edit page when ID is not a VNID
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Use new assertInstanceOf()
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/api/user/index.test.ts
  backend/neolace/core/lookup/expressions/date.test.ts
  backend/neolace/core/lookup/expressions/image.test.ts
Due: build backend docker image, deploy backend to proto

Work around some 'ops sanitizer' flaky test failures
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

Bump frontend package versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Bump to Deno 1.21
  .github/workflows/ci-workflow.yml
Due: none

Bump some frontend package versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Fix some react hook usage bugs (that caused issues in Firefox only)
  frontend/components/widgets/Form.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
