Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Bump Deno version
  .github/workflows/ci-workflow.yml
Due: none

Fix frontend image build on GitHub CI
  .github/workflows/ci-workflow.yml
Due: none

fix: Regex lookbehind doesn't work in Safari
  frontend/components/utils/slate.ts
Due: build frontend docker image, deploy frontend to proto

WIP: One implementation of entities in dropdown
  frontend/components/widgets/AutocompleteMenu.tsx
  frontend/components/widgets/EntitySymbol.tsx
Due: build frontend docker image, deploy frontend to proto

Implement an autocompletion helper for Slate
  frontend/components/utils/Portal.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

WIP: Implement autocomplete dropdown
  frontend/components/utils/Portal.tsx
  frontend/components/widgets/AutocompleteMenu.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Finish formatting of autocomplete dropdown
  frontend/components/EntryLink.tsx
  frontend/components/EntryTooltipContent.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/widgets/AutocompleteMenu.tsx
  frontend/components/widgets/EntryValue.tsx
Due: build frontend docker image, deploy frontend to proto

Finish implementation of autocompletion
  frontend/components/utils/slate.ts
  frontend/components/widgets/AutocompleteMenu.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Bump every dependency across the whole application to the latest version
  .github/workflows/ci-workflow.yml
  backend/.vscode/launch.json
  backend/Dockerfile
  backend/neolace/api/mod.ts
  backend/neolace/core/permissions/grant.ts
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/search/package.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: getting an auto property lookup without 'this' set gave an error
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
Due: build backend docker image, deploy backend to proto

More accurate "source expression" values
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/lookup/expressions/functions/base.ts
  backend/neolace/core/lookup/expressions/functions/basicSearch.test.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/list-expr.test.ts
  backend/neolace/core/lookup/expressions/list-expr.ts
  backend/neolace/core/lookup/expressions/literal-expr.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
  backend/neolace/core/lookup/values/PageValue.ts
  backend/neolace/core/lookup/values/base.ts
Due: build backend docker image, deploy backend to proto

Implement "reslice" so the frontend can properly paginate sliced results
  backend/neolace/core/lookup/expressions/functions/slice.test.ts
  backend/neolace/core/lookup/expressions/functions/slice.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
  frontend/components/LookupEvaluator.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Implement annotate() function
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/annotate.test.ts
  backend/neolace/core/lookup/expressions/functions/annotate.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
Due: build backend docker image, deploy backend to proto

Improve parsing of lists that contain expressions with commas
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Display 'detail' annotations in the frontend
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Implement lambda expressions
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/base.ts
  backend/neolace/core/lookup/expressions/lambda.test.ts
  backend/neolace/core/lookup/expressions/lambda.ts
  backend/neolace/core/lookup/expressions/variable.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/LambdaValue.ts
Due: build backend docker image, deploy backend to proto

Don't set "note" and "slot" annotations unless they're in use
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/reverse.test.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
Due: build backend docker image, deploy backend to proto

Implement map()
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/map.ts
  backend/neolace/core/lookup/expressions/variable.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Major feature: new Lookup Parser based on Chevrotain
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/parser/lexer.test.ts
  backend/neolace/core/lookup/parser/lexer.ts
  backend/neolace/core/lookup/parser/parser.test.ts
  backend/neolace/core/lookup/parser/parser.ts
  backend/neolace/deps/chevrotain.ts
Due: build backend docker image, deploy backend to proto

Lookup feature: Implement entry attributes like entry.name
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/get-attribute.test.ts
  backend/neolace/core/lookup/expressions/get-attribute.ts
  backend/neolace/core/lookup/parser/parser.test.ts
  backend/neolace/core/lookup/parser/parser.ts
Due: build backend docker image, deploy backend to proto

Lookup feature: sort()
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/filter.ts
  backend/neolace/core/lookup/expressions/functions/first.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/ErrorValue.ts
  backend/neolace/core/lookup/values/FileValue.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  backend/neolace/core/lookup/values/ImageValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/LambdaValue.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
  backend/neolace/core/lookup/values/LazyIterableValue.test.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/PageValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
Due: build backend docker image, deploy backend to proto

Improve typing of Draft.edits in the API client code
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  neolace-api/src/edit/Draft.ts
Due: build backend docker image, deploy backend to proto

Improve edit consolidation, implement property fact deletion
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/Edit.ts
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/edit/consolidate-edits.ts
Due: none

Draft page: display details of edits
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Consolidate edits when applying the edits from a draft
  backend/neolace/core/edit/Draft.ts
Due: build backend docker image, deploy backend to proto

Unrelated fix: Don't include property fact IDs in YAML content exports
  neolace-api/neolace-admin.ts
Due: none

New context-sensitive hooks to get data about entities, improve editor
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/utils/slate-mdt.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Implement support for "code_inline" elements in Slate MDT editor
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
Due: build frontend docker image, deploy frontend to proto

Make it easy to add additional entries to a draft
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Updates to the documentation
  docs/explanation/x-001-neolace.md
  docs/explanation/x-002-architecture.md
  docs/explanation/x-003-graph-data-model.md
  docs/export-docs.sh
  docs/image/img-x-002-arch-diagram.md
  docs/image/img-x-003-data-model.md
  docs/schema.yaml
  docs/term/term-VNID.md
  docs/term/term-entry-type.md
  docs/term/term-entry.md
  docs/term/term-friendly-id.md
  docs/term/term-property-value.md
  docs/term/term-property.md
  docs/term/term-realm.md
  docs/term/term-schema.md
  docs/term/term-site.md
Due: none

Use 'marks' in our visual editor to better handle bold/italics/etc.
  frontend/components/utils/slate.ts
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Add frontend tests
  .github/workflows/ci-workflow.yml
  frontend/components/utils/slate.test.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Implement Bold/Italics/Superscript/Subscript buttons
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix some linter issues
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: marked text that included links couldn't be un-marked
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Escape spaces in superscript/subscript
  frontend/components/utils/slate.test.ts
  frontend/components/utils/slate.ts
Due: build frontend docker image, deploy frontend to proto

Preserve selection when editor loses focus, so toolbar buttons still work
  frontend/components/utils/slate.ts
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix bug when making any edit then clicking directly to source mode
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Simplify and improve our selection tracking.
  frontend/components/utils/slate.ts
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Bump to latest version of Slate.js
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
