Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

added more styling to combos
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

fix: Make plugin loading static until next#31054 is solved
  frontend/components/utils/ui-plugins-loader.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/pages/_app.tsx
Due: build frontend docker image, deploy frontend to proto

New layout for Neolace/TechNotes frontend
  frontend/components/SitePage.tsx
  frontend/global-styles.css
  frontend/pages/_app.tsx
  frontend/public/cams.svg
  frontend/public/home.svg
  frontend/public/plantdb.svg
Due: build frontend docker image, deploy frontend to proto

Improve typography
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Improving typing and consistency of i18n in our custom components
  frontend/.eslintrc.json
  frontend/components/LookupEvaluator.tsx
  frontend/components/LookupValue.tsx
  frontend/components/SitePage.tsx
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/graph/Graph.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/utils/i18n.tsx
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/FormattedFileSize.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/account/index.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Improve the usability of the login page.
  frontend/components/widgets/ActionStatusIndicator.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
Due: build frontend docker image, deploy frontend to proto

Add Russian translation, expand French
  frontend/content/locales/en.json
  frontend/content/locales/fr.json
  frontend/content/locales/ru.json
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/components/SearchBox.tsx
  frontend/plugins/search/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

separates cliques into a transform, fixed bug with mutating data for graph
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

formatting
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

fix: some minor bugs with admin/dev tooling
  backend/neolace/plugins/search/update-index.ts
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto

Separate <SiteDataProvider> from <SitePage>
  frontend/components/SitePage.tsx
  frontend/components/utils/SiteDataProvider.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
  frontend/pages/site/[siteHost]/account/index.tsx
  frontend/pages/site/[siteHost]/account/login-passwordless.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/pages/site/[siteHost]/account/logout.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Hide the links in the bottom left from the CAMS site
  frontend/components/utils/ui-plugins.tsx
  frontend/components/widgets/UISlot.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/search/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

feat: Frontend plugins can add pages, refactor them, add CAMS plugin
  backend/neolace/api/site/find.test.ts
  backend/neolace/lib/tests-default-data.ts
  frontend/components/SitePage.tsx
  frontend/components/utils/SiteDataProvider.tsx
  frontend/components/utils/ui-plugins-loader.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
  frontend/pages/site/[siteHost]/search.tsx
  frontend/plugins/cams/package.json
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/cams/plugin-pages/members-only.tsx
  frontend/plugins/enabled-plugins.ts
  frontend/plugins/search/plugin-definition.tsx
  frontend/plugins/search/plugin-pages/search.tsx
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add the CAMS header to the CAMS site
  frontend/components/SitePage.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/components/widgets/UISlot.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

feat: New permissions module for fine-grained permissions checks+grants
  backend/neolace/core/permissions/action.ts
  backend/neolace/core/permissions/check.test.ts
  backend/neolace/core/permissions/check.ts
  backend/neolace/core/permissions/default-grants.test.ts
  backend/neolace/core/permissions/default-grants.ts
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
  backend/neolace/core/permissions/permissions.ts
  backend/neolace/plugins/loader.ts
Due: build backend docker image, deploy backend to proto

fix: build error
  frontend/pages/site/[siteHost]/account/create.tsx
Due: build frontend docker image, deploy frontend to proto

edits and dependencies
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
  frontend/package.json
  frontend/tsconfig.json
Due: build frontend docker image, deploy frontend to proto

Update backend to use the new permissions module
  backend/neolace/api/mod.ts
  backend/neolace/api/site/find.ts
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/index.ts
  backend/neolace/api/site/{siteShortId}/entry/index.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.ts
  backend/neolace/api/site/{siteShortId}/home.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/api/site/{siteShortId}/schema/index.ts
  backend/neolace/core/Site.test.ts
  backend/neolace/core/Site.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/permissions.test.ts
  backend/neolace/core/permissions.ts
  backend/neolace/core/permissions/Group.test.ts
  backend/neolace/core/permissions/Group.ts
  backend/neolace/core/permissions/check.test.ts
  backend/neolace/core/permissions/check.ts
  backend/neolace/core/permissions/default-grants.ts
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
  backend/neolace/core/permissions/permissions.ts
  backend/neolace/deps/vertex-framework.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/lib/tests.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/search/rest-api.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Update vertex framework
  backend/neolace/api/mod.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

Implement login for CAMS members only page
  frontend/components/SitePage.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/cams/plugin-pages/members-login.tsx
  frontend/plugins/cams/plugin-pages/members-only.tsx
Due: build frontend docker image, deploy frontend to proto

Fixes to new permissions module
  backend/neolace/core/permissions/action.ts
  backend/neolace/core/permissions/default-grants.ts
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
Due: build backend docker image, deploy backend to proto

Refactor how frontend manages authentication; use SWR hook for user data
  frontend/components/SitePage.tsx
  frontend/components/user/UserContext.tsx
  frontend/lib/api-client.ts
  frontend/lib/authentication.ts
  frontend/pages/_app.tsx
  frontend/pages/admin-site/index.tsx
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/account/index.tsx
  frontend/pages/site/[siteHost]/account/login-passwordless.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/pages/site/[siteHost]/account/logout.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/plugins/cams/plugin-pages/members-login.tsx
  frontend/plugins/cams/plugin-pages/members-only.tsx
Due: build frontend docker image, deploy frontend to proto

Use SWR to load entry data as the current user, with their permissions
  frontend/components/EntryPage.tsx
  frontend/components/SitePage.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  neolace-api/src/client.ts
Due: build frontend docker image, deploy frontend to proto

Fix z-index so CAMS header appears behind modal popups like graph
  frontend/components/SitePage.tsx
  frontend/components/utils/Portal.tsx
  frontend/components/widgets/Modal.tsx
  frontend/components/widgets/SelectBox.tsx
  frontend/components/widgets/Tooltip.tsx
  frontend/global-styles.css
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

Fixes
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
  neolace-api/src/client.test.ts
Due: build backend docker image, deploy backend to proto

CAMS: Display a message if the user isn't logged in to members only
  frontend/components/EntryPage.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/plugins/cams/plugin-components/MembersOnlyNotice.tsx
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

address review comments
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

Fix major bugs with asCypherPredicate
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
Due: build backend docker image, deploy backend to proto

Add permissions checks to the files() lookup function
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/files.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

Only include publicly visible content in the search index (for now)
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

Fix issues with authn server cookie that were preventing session refresh
  backend/neolace/app/config.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

Fix unrelated authn-server configuration issue I just spotted
  docker-compose.yml
Due: none

Bump TypeSense version
  docker-compose.yml
Due: none

Only use mousewheel to zoom on full screen
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Improve behavior of zoom toolbar buttons
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Avoid duplicate renders and bugs when the graph loads
  frontend/components/EntryPage.tsx
  frontend/components/LookupValue.tsx
  frontend/components/graph/Graph.tsx
  frontend/lib/config.ts
Due: build frontend docker image, deploy frontend to proto

Address review comment - clarify logic for starting zoom action
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Frontend display improvements for lookup values and CAMS content
  frontend/components/EntryPage.tsx
  frontend/components/LookupValue.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
  frontend/plugins/cams/plugin-components/MembersOnlyNotice.tsx
Due: build frontend docker image, deploy frontend to proto

Display paginated list of content on CAMS members only page
  backend/neolace/api/site/{siteShortId}/lookup.ts
  frontend/components/LookupEvaluator.tsx
  frontend/lib/api-client.ts
  frontend/plugins/cams/plugin-pages/members-only.tsx
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Use a Slate.js "Void" to display entry types in lookup expression fields
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
