Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Fix: hero image and entries in hero img caption should be in ref cache
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/entry/features/Article/Article.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/features/feature.ts
  backend/neolace/core/entry/features/get-feature-data.ts
Due: build backend docker image, deploy backend to proto

Fix minor typo in PlantDB home page
  backend/neolace/lib/tests-default-data.ts
Due: build backend docker image, deploy backend to proto

Add a configurable footer to each site.
  backend/neolace/api/site/lookup.ts
  backend/neolace/core/Site.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/SiteFooter.tsx
  frontend/components/SitePage.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  frontend/pages/site/[siteHost]/index.tsx
  neolace-api/src/site/Site.ts
  neolace-app.code-workspace
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add "team" page, improve header formatting
  arch-decisions/006-article-text-markdown-mdt.md
  backend/neolace/core/edit/Draft.ts
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/schema.ts
  frontend/components/markdown-mdt/mdt.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix type error in frontend
  frontend/components/SiteFooter.tsx
Due: build frontend docker image, deploy frontend to proto

Expand article on 18650 cell
  backend/.vscode/tasks.json
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/schema.ts
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/LookupValue.tsx
  frontend/global-styles.css
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add some Tesla content
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/schema.ts
Due: build backend docker image, deploy backend to proto

Add Panasonic cell
  backend/neolace/sample-data/technotes/content.ts
Due: build backend docker image, deploy backend to proto

Parse lookup block expressions
  neolace-api/src/deps/markdown-it/ParserBlock.ts
  neolace-api/src/deps/markdown-it/rules_block/state_block.ts
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt-heading-id-plugin.ts
  neolace-api/src/markdown-mdt-lookup-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: none

Fix some outdated documentation about lookups
  arch-decisions/009-lookups.md
Due: none

Parse inline lookup expressions
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt-lookup-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: none

Add tests to the markdown parser in the API library
  neolace-api/src/markdown-mdt-heading-id-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
Due: none

WIP - started work on inline lookups
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/team-braden.jpg
Due: build backend docker image, deploy backend to proto

Add lookups to refCache, display computed lookups in MDT in the frontend
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/home.ts
  backend/neolace/core/entry/features/Article/Article.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/context.ts
  frontend/components/LookupValue.tsx
  frontend/components/SiteFooter.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  frontend/pages/site/[siteHost]/index.tsx
  neolace-api/src/content/Entry.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix tests
  backend/neolace/api/site/lookup.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/entry/features/Article/Article.test.ts
Due: build backend docker image, deploy backend to proto

Implement a first() expression to get the first entry from an iterable
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/expressions/first.test.ts
  backend/neolace/core/lookup/expressions/first.ts
Due: build backend docker image, deploy backend to proto

Refactor how iterable lookup values work
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/expressions/count.ts
  backend/neolace/core/lookup/expressions/list-expr.test.ts
  backend/neolace/core/lookup/expressions/list-expr.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Fix bug with extracting references from lookups in markdown article text
  backend/neolace/core/entry/reference-cache.ts
Due: build backend docker image, deploy backend to proto

Implement an image() expression to get the image from an image entry
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/parse.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

Render images in frontend
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/sample-data/technotes/content.ts
  frontend/components/LookupValue.tsx
  frontend/components/widgets/ratio-box.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix Next.js warning about image inside absolute element
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Fix React key warning
  frontend/components/markdown-mdt/mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Add remaining team photos
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/team-jeff.jpg
  backend/neolace/sample-data/technotes/images/team-joel.jpg
  frontend/components/LookupValue.tsx
  frontend/components/SiteFooter.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Hide friendly Id, and hide properties nav/headings when there are none
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix: lookups in descriptions weren't being evaluated on hover
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/EntryLink.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Revise appearance of right-aligned images
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Update home page
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/markdown-mdt/mdt.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add logos to homepage
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/harvard-innovation-labs-logo.png
  backend/neolace/sample-data/technotes/images/mit-sandbox-logo.png
  backend/neolace/sample-data/technotes/images/nrc-logo.png
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Allow logo images to have a link, specify max width
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/LookupImage.tsx
  frontend/components/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Consistency fix: backend: context requires defaultPageSize
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/count.test.ts
  backend/neolace/core/lookup/expressions/descendants.test.ts
  backend/neolace/core/lookup/expressions/first.test.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/list-expr.test.ts
  backend/neolace/core/lookup/expressions/literal-expr.test.ts
  backend/neolace/core/lookup/expressions/markdown.test.ts
  backend/neolace/core/lookup/expressions/reverse.test.ts
  backend/neolace/core/lookup/expressions/this.test.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Consistency fix: getValueAs() should take context as second parameter
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/expressions/ancestors.ts
  backend/neolace/core/lookup/expressions/descendants.ts
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/expressions/markdown.test.ts
  backend/neolace/core/lookup/expressions/markdown.ts
  backend/neolace/core/lookup/expressions/reverse.ts
Due: build backend docker image, deploy backend to proto

Add some spacing around logo images
  frontend/components/LookupImage.tsx
Due: build frontend docker image, deploy frontend to proto

Remove some unused code
  backend/neolace/core/lookup/expressions/get.test.ts
Due: build backend docker image, deploy backend to proto

Update documentation
  arch-decisions/009-lookups.md
Due: none

Run backend in watch mode
  backend/.vscode/tasks.json
Due: build backend docker image, deploy backend to proto

Add GitHub Actions
  .github/workflows/check-backend-types.yml
  .github/workflows/lint.yml
  .github/workflows/run-backend-tests.yml
Due: none

Fixes
  .github/workflows/run-backend-tests.yml
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

Combine into one workflow with several jobs
  .github/workflows/check-backend-types.yml
  .github/workflows/lint.yml
  .github/workflows/run-backend-tests.yml
  .github/workflows/validate-code.yml
Due: none

More fixes
  .github/workflows/validate-code.yml
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/descendants.test.ts
Due: build backend docker image, deploy backend to proto

Combine type checks into one job
  .github/workflows/validate-code.yml
Due: none

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
