Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

perf(backend): refactor LazyEntrySet to compute count and values simultaneously
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.ts
  backend/neolace/core/lookup/expressions/functions/basicSearch.ts
  backend/neolace/core/lookup/expressions/functions/descendants.ts
  backend/neolace/core/lookup/expressions/functions/files.ts
  backend/neolace/core/lookup/expressions/functions/filter.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
  backend/neolace/core/lookup/expressions/functions/related.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
  backend/neolace/core/lookup/values/base.ts
Due: build backend docker image, deploy backend to proto

docs(backend): Add more comments to the lookup function code
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
  backend/neolace/core/lookup/values/AllEntriesValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Allow traversing over a lookup expression
  backend/neolace/core/lookup/expressions/base.ts
  backend/neolace/core/lookup/expressions/functions/base.ts
  backend/neolace/core/lookup/expressions/functions/entryType.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
  backend/neolace/core/lookup/expressions/get-attribute.ts
  backend/neolace/core/lookup/expressions/lambda.ts
  backend/neolace/core/lookup/expressions/list-expr.ts
  backend/neolace/core/lookup/expressions/literal-expr.ts
  backend/neolace/core/lookup/expressions/this.ts
  backend/neolace/core/lookup/expressions/variable.ts
  backend/neolace/core/lookup/traversal.test.ts
Due: build backend docker image, deploy backend to proto

perf(backend): Reduce memory usage when sort()ing huge iterables
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
Due: build backend docker image, deploy backend to proto

refactor: use better name for "Annotation Data Converter" (not "Reviver")
  backend/neolace/core/lookup/values/AllEntriesValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
Due: build backend docker image, deploy backend to proto

fix: LazyIterableValue -> LazyEntrySetValue should preserve order
  backend/neolace/core/lookup/values/LazyIterableValue.test.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

fix(backend): permissions issue with new AllEntriesFilterableValue
  backend/neolace/api/site/[siteKey]/home.ts
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/grant.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Use sublayout pipelines to combine dagre and force layout!
  frontend/components/graph/GraphViewer.tsx
  frontend/components/graph/graph-data.ts
  frontend/components/graph/graph-transforms.ts
Due: build frontend docker image, deploy frontend to proto

fix(backend): Make sure graph() checks permissions for border entries
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): newly streamed-in nodes in the graph weren't in refCache
  frontend/components/graph/GraphDataStreamer.tsx
  frontend/components/utils/MergeRefCache.tsx
  frontend/lib/api-data/ReferenceCache.ts
Due: build frontend docker image, deploy frontend to proto

feat(backend): the graph() lookup function now returns data about neighboring entries that aren't yet in the graph
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

fix(api): Fix bug where some nodes would disappear from graph when detecting communities
  neolace-api/src/schema/get-entry-type-color.ts
Due: none

feat(api): Add support for .gif image imports
  neolace-api/neolace-admin.ts
Due: none

fix(frontend): restore "community detection" graph transform, re-organize toolbars in graph viewer, cleanups
  frontend/components/graph/GraphViewer.tsx
  frontend/components/graph/graph-functions.ts
  frontend/components/graph/graph-transforms.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Display "placeholder" nodes on graph, stream new nodes on click, refactor GraphViewer
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/graph/GraphDataStreamer.tsx
  frontend/components/graph/GraphLoader.tsx
  frontend/components/graph/GraphViewer.tsx
  frontend/components/graph/graph-data.ts
  frontend/components/graph/graph-functions.ts
  frontend/components/graph/graph-g6-node.ts
  frontend/components/graph/graph-g6-placeholder.ts
  frontend/components/graph/graph-transforms.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactor(frontend): Move event handlers into 'graph' init function
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Improve display of "normal" format images
  backend/neolace/core/lookup/expressions/functions/image.ts
  frontend/components/widgets/LookupImage.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(frontend): remove unneeded "pickEntryTypeLetter()" function
  frontend/components/graph/Graph.tsx
  frontend/components/graph/graph-g6-node.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Add a button to toggle display of the placeholders
  frontend/components/graph/GraphViewer.tsx
  frontend/components/graph/graph-data.ts
  frontend/components/graph/graph-transforms.ts
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

fix(ci): Use same node version as frontend Dockerfile
  .github/workflows/ci-workflow.yml
Due: none

chore(frontend): bump various dependency versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Remove conflicting CSS class
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

chore(backend): bump to latest version of Drash, Vertex Framework
  backend/deno.lock
  backend/neolace/deps/drash.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

chore(backend): Bump deno version
  .github/workflows/ci-workflow.yml
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/permissions/grant.ts
Due: build backend docker image, deploy backend to proto

chore(backend): Bump deno std lib version
  backend/deno.lock
  backend/import_map.json
  backend/neolace/api/site/[siteKey]/file.ts
  backend/neolace/core/objstore/objstore.ts
Due: build backend docker image, deploy backend to proto

docs: update README, remove old "docs" folder
  README.md
  neolace-app.code-workspace
Due: none

feat(frontend): Allow editing the MDT of article content
  frontend/components/entry-editor/ArticleEditor.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/widgets/EditDescription.tsx
  frontend/pages/site/[siteHost]/draft/[draftNum]/entry/[entryId]/edit.tsx
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt.ts
Due: build frontend docker image, deploy frontend to proto

chore(frontend): Minor tweaks to the npm setup - still some bug present
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

feat: implement an easy way to show demos of lookup functions in the documentation
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/lookupDemo.ts
  frontend/components/form-input/LookupExpressionInput.tsx
  frontend/components/widgets/LookupDemo.tsx
  frontend/components/widgets/LookupValue.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

feat(frontend): Responsive <Frame> component that removes rounding/padding when inside another frame
  frontend/components/graph/GraphViewer.tsx
  frontend/components/widgets/Frame.tsx
  frontend/components/widgets/LookupDemo.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): don't put breaks in the display of Entry objects as lookup values
  frontend/components/widgets/EntryValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(api): Reduce size of API client by limiting which HTML entities markdown-it supports
  neolace-api/src/deps/markdown-it.min.js
Due: none

feat(frontend) - show selected link in left nav panel
  frontend/components/SitePage.tsx
  frontend/components/widgets/LeftPanelLinkSet.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend) Make siteLinks into a frontend plugin, not a core feature
  frontend/components/SitePage.tsx
  frontend/components/site-admin/SiteSettings.tsx
  frontend/components/widgets/UISlot.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/enabled-plugins.ts
  frontend/plugins/siteLinks/package.json
  frontend/plugins/siteLinks/plugin-definition.tsx
  neolace-api/src/site/Site.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): StickyHeader now automatically adjusts scroll offset etc.
  frontend/components/EntryPage.tsx
  frontend/components/widgets/StickyHeader.tsx
  frontend/lib/hooks/useResizeObserver.ts
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Simplify how plugin pages are served (now works with shallow routing)
  frontend/next.config.js
  frontend/pages/site/[siteHost]/[...otherPath].tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): next-gen UI for Neolace
  frontend/components/EntryPage.tsx
  frontend/components/SitePage.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/LeftPanelLinkSet.tsx
  frontend/global-styles.css
  frontend/lib/hooks/useZIndex.ts
  frontend/plugins/search/components/QuickSearchBox.tsx
  frontend/plugins/search/components/SearchBox.tsx
  frontend/plugins/search/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

chore(frontend): update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Use more fine-grained splitting of form input React code
  frontend/components/entry-editor/ArticleEditor.tsx
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/entry-editor/SinglePropertyEditor.tsx
  frontend/components/form-input/Form.tsx
  frontend/components/form-input/LookupExpressionInput.tsx
  frontend/components/form-input/index.ts
  frontend/components/schema-editor/AddSchemaProperty.tsx
  frontend/components/schema-editor/EditSchemaProperty.tsx
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/components/schema-editor/ListSchemaProperties.tsx
  frontend/components/site-admin/SiteSettings.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/widgets/LookupDemo.tsx
  frontend/components/widgets/LookupValue.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/pages/site/[siteHost]/draft/[draftNum]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/entry/[entryId]/lookup.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
  frontend/pages/site/[siteHost]/ui.tsx
  frontend/plugins/cams/plugin-pages/members-login.tsx
  frontend/plugins/search/components/QuickSearchBox.tsx
  frontend/plugins/search/components/SearchBox.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Simplify plugin loading for now
  frontend/components/utils/ui-plugins-loader.tsx
  frontend/pages/_app.tsx
  frontend/pages/site/[siteHost]/[...otherPath].tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
