Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Cache plugin dependencies while building backend image
  backend/Dockerfile
Due: build backend docker image, deploy backend to proto

fix: frontend image wouldn't start due to missing plugin dependencies
  frontend/Dockerfile
Due: build frontend docker image, deploy frontend to proto

Bump dependency versions, consolidate on Deno std v0.120.0
  backend/import_map.json
  backend/neolace/deps/authn-deno.ts
  backend/neolace/deps/drash.ts
  backend/neolace/deps/vertex-framework.ts
  neolace-api/_compile.ts
  neolace-api/src/markdown-mdt.test.ts
Due: build backend docker image, deploy backend to proto

Add a system API key which can run admin tasks using the REST API
  backend/neolace/api/auth-middleware.ts
  backend/neolace/api/auth/system-key.ts
  backend/neolace/api/mod.ts
  backend/neolace/api/resources.ts
  backend/neolace/app/config.ts
Due: build backend docker image, deploy backend to proto

Add an admin tool that can export schema to a human-readable YAML file
  neolace-api/neolace-admin.ts
Due: none

Implement importing a schema
  backend/neolace/api/site/{siteShortId}/schema/index.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

Add an API to list all entries of a given type
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/entry/index.test.ts
  backend/neolace/api/site/{siteShortId}/entry/index.ts
  backend/neolace/core/Site.ts
  neolace-api/src/client.ts
  neolace-api/src/content/Entry.ts
Due: build backend docker image, deploy backend to proto

Export markdown and images (still need properties and to rewrite IDs)
  neolace-api/neolace-admin.ts
Due: none

Export properties into the markdown files
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/content/Entry.ts
Due: build backend docker image, deploy backend to proto

Use friendly IDs in Neolace exports
  neolace-api/neolace-admin.ts
Due: none

Fix test inconsistency
  backend/neolace/api/site/{siteShortId}/entry/index.test.ts
Due: build backend docker image, deploy backend to proto

Add an API method to erase all entries
  backend/neolace/api/mod.ts
  backend/neolace/api/site/{siteShortId}/entry/index.test.ts
  backend/neolace/api/site/{siteShortId}/entry/index.ts
  backend/neolace/api/tests.ts
  backend/neolace/core/entry/EraseEntriesAction.ts
  backend/neolace/core/permissions.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

Refactor command line arguments
  neolace-api/neolace-admin.ts
Due: none

Import entry property values
  neolace-api/neolace-admin.ts
Due: none

Begin to implement import
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto

Import article markdown text
  neolace-api/neolace-admin.ts
Due: none

Fix a bug with importSchema where "isA" was always seen as changed
  backend/neolace/core/schema/get-schema.ts
Due: build backend docker image, deploy backend to proto

Create a REST API for uploading files to a draft
  backend/neolace/api/auth-middleware.ts
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.test.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/index.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/core/permissions.ts
  backend/neolace/lib/bin2hex.ts
  neolace-api/src/client.ts
  neolace-api/src/edit/Draft.ts
Due: build backend docker image, deploy backend to proto

Update tests and sample data to use new API for uploading images/files
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/Files/Files.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/entry/features/feature.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

Fix: import was adding a leading space to article Markdown text
  neolace-api/neolace-admin.ts
Due: none

Implement importing of images
  neolace-api/neolace-admin.ts
Due: none

API to add edits to an existing draft
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/index.ts
  backend/neolace/core/lookup/expressions/files.test.ts
  backend/neolace/deps/vertex-framework.ts
  neolace-api/src/client.ts
  neolace-api/src/edit/Draft.ts
Due: build backend docker image, deploy backend to proto

Import+Export of files
  neolace-api/neolace-admin.ts
Due: none

Fix: Drash was corrupting uploaded binary files
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/deps/drash.ts
Due: build backend docker image, deploy backend to proto

Bump wasm-image-decoder to use rs-image 0.24.0
  backend/neolace/deps/wasm-image-decoder/wasm/snippets/wasm-bindgen-rayon-7afa899f36665473/src/workerHelpers.no-bundler.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.d.ts
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm.d.ts
Due: build backend docker image, deploy backend to proto

Hide search results when there is no query
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/components/SearchBox.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Focus on the search box when the page loads
  frontend/components/widgets/TextInput.tsx
  frontend/plugins/search/components/SearchBox.tsx
Due: build frontend docker image, deploy frontend to proto

Hero images can optionally use "cover" sizing mode
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/entry/features/Image/ImageData.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  neolace-api/neolace-admin.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Improve styling of article pages
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Hide left col scrollbar on Windows
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Temporary display fix for CAMS
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Improve display of properties
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Allow friendlyIDs that don't end in a hyphen
  backend/neolace/core/schema/EntryType.ts
Due: build backend docker image, deploy backend to proto

Fix: detect schema changes to the "displayAs" property
  backend/neolace/core/schema/get-schema.ts
Due: build backend docker image, deploy backend to proto

Fix: generate new IDs when importing a schema
  neolace-api/neolace-admin.ts
Due: none

Add VNID code to the API client
  frontend/components/EntryLink.tsx
  frontend/lib/api-client.ts
  neolace-api/src/index.ts
  neolace-api/src/types.ts
Due: build frontend docker image, deploy frontend to proto

Optimize property retrieval
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

Fix: Reindexing thousands of entries would cause Neo4j pool timeout
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

Fix noisy logs when checking if an entry exists (404) then inserting.
  backend/neolace/core/edit/ApplyEdits.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

Improve display of default Ponderosa Pine example
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/sample-data/plantdb/images.ts
Due: build backend docker image, deploy backend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
