Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

chore(frontend): Rebuild package-lock.json (using Node 18 LTS)
  frontend/package-lock.json
Due: build frontend docker image, deploy frontend to proto

fix(backend): warnings about overlapping console.time() calls
  backend/neolace/rest-api/site/[siteKey]/my-permissions.ts
Due: build backend docker image, deploy backend to proto

feat: Add workspace root to VS Code project
  neolace-app.code-workspace
Due: none

fix(sdk): Rename confusingly-named helper method
  neolace-sdk/src/client.ts
Due: none

docs: Update README
  README.md
  readme-screenshot-editor.png
  readme-screenshot-viewing.png
Due: none

feat: REST APIs to create/update Sites and Groups
  backend/neolace/core/Site.ts
  backend/neolace/core/permissions/Group.ts
  backend/neolace/core/permissions/permissions.ts
  backend/neolace/deps/neolace-sdk.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/rest-api/find-site.test.ts
  backend/neolace/rest-api/find-site.ts
  backend/neolace/rest-api/resources.ts
  backend/neolace/rest-api/site/[siteKey]/group/[groupId]/user/[username]/index.test.ts
  backend/neolace/rest-api/site/[siteKey]/group/[groupId]/user/[username]/index.ts
  backend/neolace/rest-api/site/[siteKey]/group/index.test.ts
  backend/neolace/rest-api/site/[siteKey]/group/index.ts
  backend/neolace/rest-api/site/[siteKey]/index.test.ts
  backend/neolace/rest-api/site/[siteKey]/index.ts
  backend/neolace/rest-api/site/[siteKey]/my-permissions.test.ts
  backend/neolace/rest-api/site/[siteKey]/user/index.test.ts
  backend/neolace/rest-api/site/index.ts
  neolace-sdk/neolace-admin.ts
  neolace-sdk/src/cli-client.ts
  neolace-sdk/src/client.ts
  neolace-sdk/src/errors.ts
  neolace-sdk/src/permissions.ts
  neolace-sdk/src/site/Site.ts
  neolace-sdk/src/site/SiteAdmin.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Support editing schema without editing an entry
  frontend/components/widgets/Table.tsx
  frontend/lib/api-data/DraftData.ts
  frontend/pages/site/[siteHost]/draft/[draftNum]/schema/edit.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): Expose edit errors to the requesting client
  backend/neolace/core/entry/Entry.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/push-connection/rest-api.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Frontend plugins can render custom lookup values
  frontend/components/site-admin/SiteSettings.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/components/widgets/LookupValue.tsx
  frontend/plugins/enabled-plugins.ts
  frontend/plugins/external-image/package.json
  frontend/plugins/external-image/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

feat(backend): Backend plugins can implement new lookup functions
  backend/neolace/app/config.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/PluginValue.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/external-image/README.md
  backend/neolace/plugins/external-image/externalImage.ts
  backend/neolace/plugins/external-image/mod.ts
  backend/neolace/plugins/mod.ts
  neolace-sdk/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): Hide detail annotations that are null
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(lookup): Implement a new DatePartialValue for years or month-days etc.
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/functions/date.test.ts
  backend/neolace/core/lookup/expressions/functions/date.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/DatePartialValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/rest-api/site/[siteKey]/lookup.test.ts
  frontend/components/widgets/LookupValue.tsx
  neolace-sdk/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

chore(frontend): Bump packages to new versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

chore(backend): bump to Deno version 1.31.2
  .github/workflows/ci-workflow.yml
Due: none

chore: Remove unused "docs" folder
  docs/.vscode/settings.json
  docs/create-docs-site.ts
  docs/deno.jsonc
  docs/explanation/x-001-neolace.md
  docs/explanation/x-002-architecture.md
  docs/explanation/x-003-graph-data-model.md
  docs/export-docs.sh
  docs/image/img-x-002-arch-diagram.img.png
  docs/image/img-x-002-arch-diagram.md
  docs/image/img-x-003-data-model.img.png
  docs/image/img-x-003-data-model.md
  docs/import_map.json
  docs/schema.yaml
  docs/site.ts
  docs/term/term-VNID.md
  docs/term/term-entry-type.md
  docs/term/term-entry.md
  docs/term/term-friendly-id.md
  docs/term/term-property-value.md
  docs/term/term-property.md
  docs/term/term-realm.md
  docs/term/term-schema.md
  docs/term/term-site.md
  docs/update-docs-localdev.sh
Due: none

docs: Add a note in the README about a Deno bug that causes dev issues
  README.md
Due: none

refactor(admin): Move the neolace-admin client to its own root folder
  backend/neolace/deps/neolace-sdk.ts
  neolace-admin/.vscode/settings.json
  neolace-admin/LICENSE
  neolace-admin/README.md
  neolace-admin/commands/export.ts
  neolace-admin/commands/import.ts
  neolace-admin/commands/sync-schema.ts
  neolace-admin/deno.jsonc
  neolace-admin/deps.ts
  neolace-admin/lib/content-types.ts
  neolace-admin/lib/replace-ids.ts
  neolace-admin/lib/schema-yaml.ts
  neolace-admin/neolace-admin.ts
  neolace-app.code-workspace
  neolace-sdk/neolace-admin.ts
  neolace-sdk/utils/cli-client.ts
Due: build backend docker image, deploy backend to proto

feat(admin): Add a new command for importing/updating a site's config
  neolace-admin/commands/import-site-config.ts
  neolace-admin/deps.ts
  neolace-admin/neolace-admin.ts
Due: none

fix(sdk): Editing an entry type with a new entry could cause an error
  neolace-sdk/src/edit/apply-edits.ts
Due: none

docs: minor updates to READMEs
  frontend/README.md
  neolace-sdk/README.md
Due: build frontend docker image, deploy frontend to proto

docs: further updates to main README
  README.md
Due: none

fix(backend): better error handling when using .get() on non-entry-set value
  backend/neolace/core/lookup/expressions/functions/get.ts
Due: build backend docker image, deploy backend to proto

feat: Improve logging functionality and log output
  backend/deno.lock
  backend/neolace/app/log.ts
  backend/neolace/app/shutdown.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/core/entry/features/Article/Article.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/graph.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/permissions/check.ts
  backend/neolace/core/permissions/default-grants.ts
  backend/neolace/deps/deno-mailer.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/lib/tests.ts
  backend/neolace/plugins/loader.ts
  backend/neolace/plugins/search/update-index.ts
  backend/neolace/rest-api/auth-middleware.ts
  backend/neolace/rest-api/log-middleware.ts
  backend/neolace/rest-api/mod.ts
  backend/neolace/rest-api/server.ts
  backend/neolace/rest-api/site/[siteKey]/draft/index.ts
  backend/neolace/rest-api/site/[siteKey]/entry/index.ts
  backend/neolace/rest-api/site/[siteKey]/my-permissions.ts
  backend/neolace/scripts/test-setup.ts
Due: build backend docker image, deploy backend to proto

chore(backend): Bump vertex-framework to latest version (better logging)
  backend/deno.lock
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

chore: Bump authn-deno - better logs, avoid concurrent JWK fetch
  backend/deno.lock
  backend/neolace/deps/authn-deno.ts
  backend/neolace/rest-api/server.ts
Due: build backend docker image, deploy backend to proto

fix: Fix PropertyFact validation to be much, much faster (2 orders in bricksdb import test)
  backend/neolace/core/entry/PropertyFact.ts
Due: build backend docker image, deploy backend to proto

feat: new CSV import tool
  backend/deno.lock
  neolace-sdk/utils/csv-import.ts
Due: build backend docker image, deploy backend to proto

fix(sdk): Remove some incorrect comments accidentally left in
  neolace-sdk/src/edit/BulkEdit.ts
Due: none

feat(backend): Better error reporting when bulk edits use too much memory
  backend/neolace/plugins/push-connection/rest-api.ts
Due: build backend docker image, deploy backend to proto

chore: cleanup how we deal with deno import maps and lock files
  .gitignore
  backend/deno.jsonc
  backend/import_map.json
  neolace-admin/deno.jsonc
Due: build backend docker image, deploy backend to proto

feat: new sample site: BricksDB
  backend/deno.lock
  neolace-admin/.vscode/settings.json
  neolace-admin/commands/sync-schema.ts
  neolace-app.code-workspace
  neolace-sdk/.vscode/settings.json
  sites/bricksdb/create-bricksdb.sh
  sites/bricksdb/data/.gitignore
  sites/bricksdb/import-data.ts
  sites/bricksdb/schema.yaml
  sites/bricksdb/site.yaml
  sites/deno.jsonc
Due: build backend docker image, deploy backend to proto

docs: Clarify license of various public domain files as Unlicense
  backend/neolace/app/log.ts
  backend/neolace/lib/bin2hex.ts
  backend/neolace/lib/secure-token.test.ts
  backend/neolace/lib/secure-token.ts
  backend/neolace/lib/sha256hmac.ts
  backend/neolace/lib/slug.ts
  backend/neolace/lib/stoppable.ts
  backend/neolace/lib/tests.ts
  sites/bricksdb/LICENSE
  sites/bricksdb/import-data.ts
  sites/bricksdb/schema.yaml
  sites/bricksdb/site.yaml
Due: build backend docker image, deploy backend to proto

docs: Add some READMEs
  README.md
  backend/neolace/lib/tests-default-data.ts
  sites/README.md
  sites/bricksdb/README.md
Due: build backend docker image, deploy backend to proto

chore(backend): Bump to Deno v. 1.32.1
  .github/workflows/ci-workflow.yml
  README.md
Due: none

chore(frontend): Bump package versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Make docker image much smaller
  frontend/Dockerfile
Due: build frontend docker image, deploy frontend to proto

fix(frontend): don't insert double newlines when editing markdown documents
  frontend/components/slate-editor/slate.ts
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
