Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

Use "markdown" icon for button to toggle "source mode" in visual editor
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Update translations
  frontend/content/locales/en.json
  frontend/content/locales/ru.json
Due: build frontend docker image, deploy frontend to proto

When export doesn't import without changes, report it as a warning only
  neolace-api/neolace-admin.ts
Due: none

Implement modal for creating/editing entry types
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/components/widgets/Checkbox.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Allow editing existing entry types from the Add/Edit entry UI
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/widgets/Form.tsx
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

Allow applying changes immediately from "Edit Entry" page
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Fix a React nesting issue with <ul> inside <p> giving hydration error
  frontend/components/LookupValue.tsx
  frontend/components/markdown-mdt/mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Formatting improvements
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Fix: was redirecting to wrong URL after creating a new entry
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Fix React error when an error message is used inline in a paragraph
  frontend/components/widgets/ErrorMessage.tsx
  frontend/components/widgets/SuccessMessage.tsx
Due: build frontend docker image, deploy frontend to proto

Add updated Neolace logos
  frontend/public/docs.svg
  frontend/public/home.svg
  frontend/public/junction.svg
Due: build frontend docker image, deploy frontend to proto

Add a global link to the Lookup page.
  frontend/components/SitePage.tsx
  frontend/components/widgets/Icon.tsx
  frontend/plugins/search/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

Remove some unused assets
  frontend/public/avatar-unsplash-theyshane.jpg
  frontend/public/pl/.gitignore
  frontend/public/solar-geo-from-nasa-yZygONrUBe8-unsplash.jpg
Due: build frontend docker image, deploy frontend to proto

feat: Exclude specific entries from a set
  backend/neolace/core/lookup/expressions/functions/filter.test.ts
  backend/neolace/core/lookup/expressions/functions/filter.ts
Due: build backend docker image, deploy backend to proto

Upgrade to Next.js 12.2
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Don't downconvert JS code to ES5 to support legacy browsers
  frontend/next.config.js
Due: build frontend docker image, deploy frontend to proto

Use new Next.js <Link> behavior
  frontend/components/EntryLink.tsx
  frontend/components/EntryPage.tsx
  frontend/components/EntryTooltipContent.tsx
  frontend/components/LookupImage.tsx
  frontend/components/LookupValue.tsx
  frontend/components/SitePage.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/next.config.js
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
  frontend/plugins/cams/plugin-components/MembersOnlyNotice.tsx
  frontend/plugins/search/components/Hits.tsx
Due: build frontend docker image, deploy frontend to proto

Minor cleanups to next.config.js
  frontend/next.config.js
Due: build frontend docker image, deploy frontend to proto

fix: SIGTERM signal is not supported on Windows
  backend/neolace/app/shutdown.ts
Due: build backend docker image, deploy backend to proto

Fix an issue where joinPath would corrupt file URLs
  backend/neolace/sample-data/plantdb/datafiles.ts
Due: build backend docker image, deploy backend to proto

Set scroll-padding-top for CAMS site theme
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

Expand what attributes can be used in lookup expressions
  backend/neolace/core/lookup/expressions/get-attribute.test.ts
  backend/neolace/core/lookup/expressions/get-attribute.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/FileValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
Due: build backend docker image, deploy backend to proto

Update some documentation and add a loading spinner.
  frontend/plugins/cams/plugin-components/HouseOfSecurity.tsx
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

Minor: add TypeScript types for Tailwind configuration
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

Add clickable links to CAMS house of security
  frontend/plugins/cams/plugin-components/HouseOfSecurity.tsx
Due: build frontend docker image, deploy frontend to proto

fix: an obscure bug with lookup expr in entry description preceded by \n
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/markdown-mdt/mdt.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add a useful new link() lookup function
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/base.ts
  backend/neolace/core/lookup/expressions/functions/link.test.ts
  backend/neolace/core/lookup/expressions/functions/link.ts
Due: build backend docker image, deploy backend to proto

Fix a minor spelling error
  backend/neolace/core/lookup/parser/parser.ts
Due: build backend docker image, deploy backend to proto

Add useful help guides to the site-wide lookup page
  frontend/pages/site/[siteHost]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

fix: on mobile, inline code blocks weren't getting line breaks as needed
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Fix mobile inline code formatting issue, take 2 - safari specific
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Fix bug where auto-completion menu on /lookup wasn't usable
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

fix: autocomplete only worked if the '@' followed a space
  frontend/components/utils/slate.ts
Due: build frontend docker image, deploy frontend to proto

Add tabs to edit entry content
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/Tabs.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Implement support for deleting a property
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/schema/get-schema.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: build backend docker image, deploy backend to proto

fix: in actual article content, don't replace friendly IDs with VNIDs
  neolace-api/neolace-admin.ts
Due: none

Implement the full CAMS navigation menu
  frontend/components/widgets/Icon.tsx
  frontend/plugins/cams/plugin-components/HeaderNavModal.tsx
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

Add a "Commento" plugin for discussions
  frontend/components/EntryPage.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/plugins/commento/package.json
  frontend/plugins/commento/plugin-definition.tsx
  frontend/plugins/enabled-plugins.ts
Due: build frontend docker image, deploy frontend to proto

Fix CI test dependencies
  .github/workflows/ci-workflow.yml
Due: none

Bump various versions
  .github/workflows/ci-workflow.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/search/package.json
  neolace-api/.vscode/tasks.json
  neolace-api/_compile.ts
  neolace-api/tsconfig.json
Due: build frontend docker image, deploy frontend to proto
