Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

fix(frontend): downgrade Slate.js so that copy-paste works again
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Clicking toolbar buttons shouldn't steal focus from editor
  frontend/components/form-input/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): The "my permissions" API endpoint was not returning draft-specific permissions
  backend/neolace/rest-api/site/[siteKey]/my-permissions.test.ts
  backend/neolace/rest-api/site/[siteKey]/my-permissions.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): Use correct label for entry "key" field
  frontend/components/entry-editor/MainEditor.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Use correct bullets when a bulleted list is inside an ordered list
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

fix(backend): The sort() function had a bug when used with first()
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Format date ranges nicely
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): Don't use signed URLs to download files
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/core/objstore/objstore.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Display editNotes in the entry editor
  frontend/components/entry-editor/SinglePropertyEditor.tsx
Due: build frontend docker image, deploy frontend to proto

fix: UpdatePropertyValue wasn't applying properly
  neolace-sdk/src/edit/ContentEdit.ts
Due: none

chore(frontend): Bump Next.js
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

chore(backend): Bump Deno to 1.32.3
  .github/workflows/ci-workflow.yml
Due: none

feat(sdk): Allow specifying siteKey when using getApiClientFromEnv()
  neolace-sdk/utils/cli-client.ts
Due: none

chore(backend): Simplify performance test setup, add query counting from new Vertex Framwork version
  backend/deno.lock
  backend/neolace/core/lookup/performance.test.ts
  backend/neolace/deps/vertex-framework.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

fix(backend): Need to show logs when running tests
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

revert: fix(backend): Don't use signed URLs to download files
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/core/objstore/objstore.ts
Due: build backend docker image, deploy backend to proto

fix: support bi-directional comparison between DatePartial and Date values
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DatePartialValue.test.ts
  backend/neolace/core/lookup/values/DatePartialValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/QuantityValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
  neolace-sdk/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

chore: remove old GitLab CI file
  .gitlab-ci.yml
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

chore: switch chevrotain to npm specifier; deno test runner bug seems fixed
  backend/deno.lock
  backend/neolace/deps/chevrotain.ts
Due: build backend docker image, deploy backend to proto

chore: bump versions
  .github/workflows/ci-workflow.yml
  backend/deno.jsonc
  backend/deno.lock
  backend/neolace/deps/redis.ts
  backend/neolace/deps/s3.ts
  backend/neolace/deps/wasm-image-decoder.ts
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/package-lock.json
  frontend/package.json
  neolace-sdk/deno.jsonc
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

chore(frontend): update required for newer React typings
  frontend/components/utils/i18n.tsx
Due: build frontend docker image, deploy frontend to proto

docs: Un-license UISlot code
  frontend/components/utils/ui-plugins-loader.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/components/widgets/UISlot.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
