Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

fix: Make the "show more" link work when viewing a list of files
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/files.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
Due: build backend docker image, deploy backend to proto

feat: Build out MVP of workflow for accepting a draft
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  backend/neolace/core/edit/ApplyEdits.ts
  frontend/components/SitePage.tsx
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  frontend/plugins/search/plugin-definition.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: rare corner case when resetting devstack graph but not authn
  backend/neolace/api/auth-middleware.ts
Due: build backend docker image, deploy backend to proto

added basic louvain community detection transform with community coloring
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Node.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

bug fixed with simple pattern condensing
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

added node expanding for simple pattern condensed nodes.
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

minor edits and formatting.
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

Add icons, make only one tool active at a time
  frontend/components/graph/Graph.tsx
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

Fix React warnings and formatting in Form.tsx
  frontend/components/widgets/Form.tsx
Due: build frontend docker image, deploy frontend to proto

Start to build out the "New Entry" form/page
  frontend/components/SitePage.tsx
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Show form fields as required where that's the case
  backend/neolace/lib/tests-default-data.ts
  frontend/components/widgets/Form.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

basic single node leaf condensing
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

refactoring
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

Implement a customizable, accessible <select> box
  frontend/components/utils/events.tsx
  frontend/components/utils/i18n.tsx
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/components/widgets/Modal.tsx
  frontend/components/widgets/SelectBox.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Visual update: improve borders of some of our UI elements
  frontend/components/graph/Graph.tsx
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/components/widgets/TextInput.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Add functionality to set entry type, consolidate content edits
  frontend/components/widgets/SelectEntryType.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/Edit.ts
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/edit/consolidate-edits.ts
  neolace-api/src/edit/index.ts
Due: build frontend docker image, deploy frontend to proto

Add a warning when user is not logged in
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

minor edits
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

added basic maximum clique detection for communities in graph
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

Implement a tab bar UI component, for the edit page
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/SelectBox.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/components/widgets/Tabs.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Autoformat edit page source code
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

basic combo for found cliques
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

Initial version of properties editor
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/widgets/Button.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Clean up: Move "Main Editor" to its own file/component
  frontend/components/entry-editor/MainEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Editor: Pass draft's schema through to editor components
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Implement adding new properties and changing values in the editor
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  neolace-api/src/content/Entry.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Replace "Changes" with new temporary view
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

display cliques as combos and optimize the relationship number to them
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Implement SetEntryDescription, clean up some edits + tests + error handling
  backend/neolace/api/mod.ts
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/Draft.ts
  neolace-api/src/errors.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: tooltips were not appearing in expanded graph views
  frontend/components/widgets/Modal.tsx
  frontend/components/widgets/Tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Edits that accept IDs should always call them "entryId" and "propertyId"
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Use "propertyFactId" consistently instead of "factId"
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/lib/tests-default-data.ts
Due: build backend docker image, deploy backend to proto

Simplify how annotations are serialized
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/ErrorValue.ts
  backend/neolace/core/lookup/values/FileValue.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  backend/neolace/core/lookup/values/ImageValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/PageValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
  frontend/components/LookupEvaluator.tsx
  frontend/components/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactor combo code and fix combo edges
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Add a new lookup function: allEntries()
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/allEntries.test.ts
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
Due: build backend docker image, deploy backend to proto

Bump backend std library version
  backend/import_map.json
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/Group.test.ts
  backend/neolace/core/Site.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/schema/schema.test.ts
Due: build backend docker image, deploy backend to proto

Bump frontend package versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Work around a comparison bug in deno_std
  backend/neolace/api/site/{siteShortId}/entry/index.test.ts
Due: build backend docker image, deploy backend to proto

refactor
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

reimplemented find max clique functionality
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto
