Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

feat(frontend): In editor, display property value "slot" if applicable
  frontend/components/entry-editor/SinglePropertyEditor.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Allow adding additional property values to entries
  frontend/components/entry-editor/SinglePropertyEditor.tsx
  frontend/components/widgets/EditDescription.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Allow editing properties
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/form-input/AutoControl.tsx
  frontend/components/form-input/LookupExpressionInput.tsx
  frontend/components/schema-editor/EditSchemaPropertiesModal.tsx
  frontend/components/schema-editor/EditSchemaProperty.tsx
  frontend/components/schema-editor/ListSchemaProperties.tsx
  frontend/components/widgets/EditDescription.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/Modal.tsx
  frontend/lib/api-data/DraftData.ts
  frontend/lib/api-data/Schema.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/edit/apply-edits.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: build frontend docker image, deploy frontend to proto

fix(frontend): allow displaying tooltips on disabled toolbar buttons
  frontend/components/widgets/Button.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Permissions were not loaded properly without getStaticProps
  frontend/lib/api-data/Permissions.ts
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Move "Reference Cache" data to a React Context
  frontend/components/EntryPage.tsx
  frontend/components/form-input/AutocompletionMenu.tsx
  frontend/components/graph/Graph.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/widgets/EntitySymbol.tsx
  frontend/components/widgets/EntryLink.tsx
  frontend/components/widgets/EntryTooltipContent.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/components/widgets/LookupEvaluator.tsx
  frontend/components/widgets/LookupImage.tsx
  frontend/components/widgets/LookupValue.tsx
  frontend/lib/api-data/Entry.ts
  frontend/lib/api-data/LoookupExpression.ts
  frontend/lib/api-data/ReferenceCache.ts
  frontend/lib/api.ts
  frontend/pages/site/[siteHost]/entry/[entryId]/lookup.tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): Minor SVG issue in Icon.tsx
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

chore: Node 18 LTS, Deno 1.26, minor frontend version bumps
  .github/workflows/ci-workflow.yml
  backend/neolace/api/server.ts
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

chore(ci): pin 'mc' client to working version
  docker-compose.yml
Due: none

feat(backend): Parse literal Quantity values
  backend/neolace/core/lookup/parser/lexer.test.ts
  backend/neolace/core/lookup/parser/lexer.ts
  backend/neolace/core/lookup/parser/parser.test.ts
  backend/neolace/core/lookup/parser/parser.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/QuantityValue.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Display Quantity values
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/widgets/EditDescription.tsx
  frontend/components/widgets/LookupValue.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

feat(frontend): Add helpful conversions when displaying Quantity values
  backend/neolace/core/lookup/values/QuantityValue.ts
  backend/neolace/deps/quantity-math.ts
  frontend/components/widgets/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(backend): Improve lookup value sorting (was broken for some ints < 0)
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
  backend/neolace/core/lookup/parser/parser.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/ErrorValue.ts
  backend/neolace/core/lookup/values/FileValue.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  backend/neolace/core/lookup/values/ImageValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/LambdaValue.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/PageValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/QuantityValue.test.ts
  backend/neolace/core/lookup/values/QuantityValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
  backend/neolace/deps/quantity-math.ts
Due: build backend docker image, deploy backend to proto

fix(backend): fix parsing of Quantity values with integers
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/parser/parser.test.ts
  backend/neolace/core/lookup/parser/parser.ts
  backend/neolace/core/lookup/values/QuantityValue.test.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Show "Edit" link when entry is editable, even on prod
  frontend/components/EntryPage.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Improve display of entry names in draft edit list
  frontend/components/widgets/EditDescription.tsx
Due: build frontend docker image, deploy frontend to proto

feat(backend): Add an API to list drafts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/core/User.ts
  backend/neolace/sample-data/plantdb/images.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

feat: Display drafts listing on frontend, allow filtering by status
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  frontend/components/SitePage.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Debug flaky tests seen somtimes on CI
  backend/neolace/api/tests.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

fix: Work around Neo4j hanging when trying to close connection.
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): fall back to public version when temporarily unable to load entry data
  frontend/lib/api-data/Entry.ts
Due: build frontend docker image, deploy frontend to proto

fix(backend): Parse Quantities that are percent values
  backend/neolace/core/lookup/parser/lexer.ts
  backend/neolace/core/lookup/parser/parser.test.ts
  backend/neolace/core/lookup/parser/parser.ts
  backend/neolace/deps/quantity-math.ts
Due: build backend docker image, deploy backend to proto

feat: Range function and values (e.g. "5 - 10 V")
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/range.test.ts
  backend/neolace/core/lookup/expressions/functions/range.ts
  backend/neolace/core/lookup/expressions/functions/slice.ts
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/QuantityValue.ts
  backend/neolace/core/lookup/values/RangeValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
  frontend/components/widgets/LookupQuantityValue.tsx
  frontend/components/widgets/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(backend): Fixes for importing TechNotes content
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto

fix(backend): Fix error when updating a property that's not in the ref cache
  neolace-api/src/edit/apply-edits.ts
Due: none

fix(frontend): Searching for properties should not be case sensitive
  frontend/components/schema-editor/ListSchemaProperties.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Allow setting "parent property" in editor.
  frontend/components/schema-editor/EditSchemaProperty.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): Fix error when lookup string values have invalid character
  backend/neolace/core/lookup/parser/parser.ts
Due: build backend docker image, deploy backend to proto

fix(backend): range() should ignore null values
  backend/neolace/core/lookup/expressions/functions/range.ts
Due: build backend docker image, deploy backend to proto

chore: Update blurhash
  backend/neolace/deps/blurhash.ts
  frontend/package-lock.json
  frontend/package.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(backend): error in update-index.ts script
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): a bug when adding additional values to an existing property
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/entry-editor/SinglePropertyEditor.tsx
  neolace-api/src/edit/ContentEdit.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Display tooltip with explanation of units like "pphpd"
  frontend/components/widgets/LookupQuantityValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(backend): Implement support for changing friendly ID
  backend/neolace/core/edit/ApplyEdits.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Better display of change history for additional edit types
  frontend/components/widgets/EditDescription.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): Fix error when importing entries with unicode friendlyIds
  neolace-api/neolace-admin.ts
Due: none

fix(frontend): Major improvement to display of right-aligned images
  frontend/components/widgets/LookupImage.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Allow entries to include links to themselves that aren't clickable
  frontend/components/widgets/EntryLink.tsx
Due: build frontend docker image, deploy frontend to proto

Add support for inline footnotes in the visual editor
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/slate-editor/slate.ts
Due: build frontend docker image, deploy frontend to proto
