Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Use a consistent method to call _compile.ts
  .github/workflows/ci-workflow.yml
  frontend/Dockerfile
  frontend/package.json
  neolace-api/.vscode/tasks.json
  neolace-api/_compile.ts
Due: build frontend docker image, deploy frontend to proto

Minimum working version of a user list admin page
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/entry/index.ts
  backend/neolace/api/site/{siteShortId}/user/index.ts
  backend/neolace/api/user/index.ts
  backend/neolace/core/permissions/permissions.ts
  frontend/pages/site/[siteHost]/admin/users.tsx
  neolace-api/src/api-schemas.ts
  neolace-api/src/client.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/index.ts
  neolace-api/src/site/SiteAdmin.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Create a framework for adding admin tools to the frontend
  frontend/components/site-admin/UsersAdmin.tsx
  frontend/components/site-admin/site-admin.tsx
  frontend/components/widgets/Icon.tsx
  frontend/pages/site/[siteHost]/admin/[...adminPath].tsx
  frontend/pages/site/[siteHost]/admin/index.tsx
Due: build frontend docker image, deploy frontend to proto

Tests for new "list site users" API
  backend/neolace/api/site/{siteShortId}/user/index.test.ts
  backend/neolace/api/site/{siteShortId}/user/index.ts
Due: build backend docker image, deploy backend to proto

Add a "Site Settings" admin tool
  frontend/components/site-admin/SiteSettings.tsx
  frontend/components/site-admin/UsersAdmin.tsx
  frontend/components/site-admin/site-admin.tsx
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/Icon.tsx
  frontend/pages/site/[siteHost]/admin/[...adminPath].tsx
  frontend/pages/site/[siteHost]/admin/index.tsx
Due: build frontend docker image, deploy frontend to proto

Add a placeholder for the "Links" admin tool too
  frontend/components/site-admin/SiteSettings.tsx
Due: build frontend docker image, deploy frontend to proto

Define what "object" fields are needed when checking permissions
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/permissions/check.ts
  backend/neolace/core/permissions/permissions.ts
Due: build backend docker image, deploy backend to proto

Display a link to the System Admin section if the user has permission
  frontend/components/SitePage.tsx
  frontend/lib/api-client.ts
Due: build frontend docker image, deploy frontend to proto

Move permission names into the common API
  backend/neolace/api/mod.ts
  backend/neolace/api/site/find.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/index.ts
  backend/neolace/api/site/{siteShortId}/entry/index.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/home.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/api/site/{siteShortId}/schema/index.ts
  backend/neolace/api/site/{siteShortId}/user/index.ts
  backend/neolace/core/permissions/check.test.ts
  backend/neolace/core/permissions/grant.test.ts
  backend/neolace/core/permissions/permissions.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/search/rest-api.ts
  neolace-api/src/index.ts
  neolace-api/src/permissions.ts
Due: build backend docker image, deploy backend to proto

Add an API for getting a user's permissions
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/my-permissions.test.ts
  backend/neolace/api/site/{siteShortId}/my-permissions.ts
  neolace-api/src/client.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto

Optimize permission checking
  backend/neolace/api/mod.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/my-permissions.test.ts
  backend/neolace/api/site/{siteShortId}/my-permissions.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/permissions/check.ts
  backend/neolace/core/permissions/default-grants.test.ts
  backend/neolace/core/permissions/default-grants.ts
  backend/neolace/core/redis.ts
  backend/neolace/plugins/api.ts
Due: build backend docker image, deploy backend to proto

Fix bugs
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
  backend/neolace/core/permissions/check.test.ts
  backend/neolace/core/permissions/default-grants.test.ts
  backend/neolace/core/permissions/default-grants.ts
Due: build backend docker image, deploy backend to proto

More detailed and consistent permissions checking for adding edits to a draft
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/api/site/{siteShortId}/my-permissions.test.ts
  backend/neolace/core/permissions/check.ts
Due: build backend docker image, deploy backend to proto

Bump Neo4j to latest point release
  docker-compose.yml
Due: none

Bump frontend to Next.js 4.3, TypeScript 4.8
  frontend/components/EntryPage.tsx
  frontend/components/LookupImage.tsx
  frontend/lib/config.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Organize React hooks better
  frontend/components/form-input/AutoControl.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/form-input/SelectBox.tsx
  frontend/components/graph/Graph.tsx
  frontend/components/hooks/useBreakpoint.ts
  frontend/components/hooks/useClickOutsideHandler.ts
  frontend/components/hooks/useKeyHandler.ts
  frontend/components/hooks/useResizeObserver.ts
  frontend/components/hooks/useSmartFocusAwareness.ts
  frontend/components/hooks/useStateRef.ts
  frontend/components/widgets/Modal.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Move hooks into lib/
  frontend/components/form-input/AutoControl.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/form-input/SelectBox.tsx
  frontend/components/graph/Graph.tsx
  frontend/components/widgets/Modal.tsx
  frontend/lib/hooks/useBreakpoint.ts
  frontend/lib/hooks/useClickOutsideHandler.ts
  frontend/lib/hooks/useKeyHandler.ts
  frontend/lib/hooks/useResizeObserver.ts
  frontend/lib/hooks/useSmartFocusAwareness.ts
  frontend/lib/hooks/useStateRef.ts
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Move form-input.ts to form-input/index.ts
  frontend/components/form-input.ts
  frontend/components/form-input/index.ts
Due: build frontend docker image, deploy frontend to proto

docs(frontend): Add some more comments to the entry page.
  frontend/components/EntryPage.tsx
  frontend/pages/site/[siteHost]/entry/[entryId]/index.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Move more things into components/widgets/
  frontend/components/EntryPage.tsx
  frontend/components/form-input/LookupExpressionInput.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/graph/NodeTooltip.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/slate-editor/slate.test.ts
  frontend/components/slate-editor/slate.ts
  frontend/components/widgets/EntryLink.tsx
  frontend/components/widgets/EntryTooltipContent.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/components/widgets/LookupEvaluator.tsx
  frontend/components/widgets/LookupImage.tsx
  frontend/components/widgets/LookupValue.tsx
  frontend/pages/site/[siteHost]/entry/[entryId]/lookup.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
  frontend/pages/site/[siteHost]/ui.tsx
  frontend/plugins/cams/plugin-pages/members-only.tsx
Due: build frontend docker image, deploy frontend to proto

docs(frontend): clarify and fix some confusing aspects of how the entry page works
  frontend/components/EntryPage.tsx
  frontend/pages/site/[siteHost]/entry/[entryId]/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryId]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

chore(frontend): Rename files related to graph functionality, for consistency
  frontend/components/graph/Graph.tsx
  frontend/components/graph/graph-functions.ts
  frontend/components/graph/graph-g6-node.ts
  frontend/components/graph/graph-transforms.ts
Due: build frontend docker image, deploy frontend to proto

chore(frontend): Rename ActionStatusDisplay file to match its component name
  frontend/components/widgets/ActionStatusDisplay.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/plugins/cams/plugin-pages/members-login.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(frontend): Move form fields / input components to a dedicated folder
  frontend/components/EntryTooltipContent.tsx
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/entry-editor/SinglePropertyEditor.tsx
  frontend/components/form-input.ts
  frontend/components/form-input/AutoControl.tsx
  frontend/components/form-input/AutocompletionMenu.tsx
  frontend/components/form-input/Checkbox.tsx
  frontend/components/form-input/Control.tsx
  frontend/components/form-input/Form.tsx
  frontend/components/form-input/LookupExpressionInput.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/form-input/SelectBox.tsx
  frontend/components/form-input/TextInput.tsx
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/components/site-admin/SiteSettings.tsx
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/smartFocusAwarenessHook.tsx
  frontend/components/widgets/SelectEntryType.tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
  frontend/pages/site/[siteHost]/lookup.tsx
  frontend/pages/site/[siteHost]/ui.tsx
  frontend/plugins/cams/plugin-pages/members-login.tsx
  frontend/plugins/search/components/SearchBox.tsx
Due: build frontend docker image, deploy frontend to proto

chore(frontend): Move SinglePropertyEditor into its own file
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/entry-editor/SinglePropertyEditor.tsx
Due: build frontend docker image, deploy frontend to proto

docs(frontend): Add some more comments explaining use of i18n helpers
  frontend/components/utils/i18n.tsx
Due: build frontend docker image, deploy frontend to proto

docs(frontend): Add some more comments to the entry page.
  frontend/components/EntryPage.tsx
  frontend/components/form-input/MDTEditor.tsx
  frontend/components/utils/Redirect.tsx
Due: build frontend docker image, deploy frontend to proto

Frontend version bumps
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Within a draft, autocomplete can now show new entries
  frontend/components/form-input/AutocompletionMenu.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  neolace-api/src/edit/apply-edits.ts
Due: build frontend docker image, deploy frontend to proto

fix(api): When consolidating edits, a property could be removed
  frontend/components/form-input/AutocompletionMenu.tsx
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/edit/consolidate-edits.ts
Due: build frontend docker image, deploy frontend to proto

docs(arch): Some updates to the included notes about TechNotes schema
  arch-decisions/500-technotes-content.md
Due: none

fix(frontend): Use a React context to set z-index more accurately
  frontend/components/SitePage.tsx
  frontend/components/form-input/AutocompletionMenu.tsx
  frontend/components/form-input/SelectBox.tsx
  frontend/components/utils/Portal.tsx
  frontend/components/widgets/Modal.tsx
  frontend/components/widgets/Tooltip.tsx
  frontend/global-styles.css
  frontend/lib/hooks/useZIndex.ts
Due: build frontend docker image, deploy frontend to proto

fix: Display of date on each draft page
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  neolace-api/src/client.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): "Add new entry to draft" button disables if no permission
  frontend/lib/api-data/Permissions.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): <ButtonLink> component
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/ButtonLink.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Darken the background behind modal dialogs
  frontend/components/widgets/Modal.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Make <Modal> appearance nicer w/ titles and action bars
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/components/widgets/Modal.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Better formatting for list of edits in drafts
  frontend/components/widgets/EditDescription.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/index.tsx
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: build frontend docker image, deploy frontend to proto

fix: frontend was unable to retrieve draft-specific permissions
  backend/neolace/api/site/{siteShortId}/my-permissions.ts
  frontend/lib/api-data/Permissions.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
