Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

fixed bugs
  frontend/components/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

refactored graph transforms in to a separate file
  frontend/components/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

Add Redis to the backend
  .github/workflows/ci-workflow.yml
  backend/neolace/app/config.ts
  backend/neolace/core/redis.ts
  backend/neolace/deps/redis.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

feat: Add an email sending API to the backend
  backend/neolace/app/config.ts
  backend/neolace/core/mailer/mailer.ts
  backend/neolace/deps/deno-mailer.ts
Due: build backend docker image, deploy backend to proto

Added SuccessMessage, fixed formatting
  frontend/.eslintrc.json
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/SuccessMessage.tsx
  frontend/pages/404.tsx
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
  frontend/pages/api/health.ts
  frontend/pages/logout.tsx
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/login/passwordless.tsx
  frontend/pages/site/[siteHost]/search.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Bump authn server version
  backend/neolace/api/auth/hooks/passwordless-login.ts
  backend/neolace/app/config.ts
  backend/neolace/core/authn-client.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

Move each LookupValue type into a separate file
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/lookup/values/AnnotatedValue.ts
  backend/neolace/core/lookup/values/BooleanValue.ts
  backend/neolace/core/lookup/values/DateValue.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/ErrorValue.ts
  backend/neolace/core/lookup/values/FileValue.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  backend/neolace/core/lookup/values/ImageValue.ts
  backend/neolace/core/lookup/values/InlineMarkdownStringValue.ts
  backend/neolace/core/lookup/values/IntegerValue.ts
  backend/neolace/core/lookup/values/LazyCypherIterableValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
  backend/neolace/core/lookup/values/NullValue.ts
  backend/neolace/core/lookup/values/PageValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/core/lookup/values/StringValue.ts
  backend/neolace/core/lookup/values/base.ts
Due: build backend docker image, deploy backend to proto

Add a common base class for lookup functions that take one argument
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.ts
  backend/neolace/core/lookup/expressions/functions/base.ts
  backend/neolace/core/lookup/expressions/functions/count.test.ts
  backend/neolace/core/lookup/expressions/functions/count.ts
  backend/neolace/core/lookup/expressions/functions/date.test.ts
  backend/neolace/core/lookup/expressions/functions/date.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/files.ts
  backend/neolace/core/lookup/expressions/functions/first.test.ts
  backend/neolace/core/lookup/expressions/functions/first.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
  backend/neolace/core/lookup/expressions/functions/markdown.test.ts
  backend/neolace/core/lookup/expressions/functions/markdown.ts
  backend/neolace/core/lookup/expressions/list-expr.test.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Add a common base class for lookup functions with multiple arguments
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/lookup/expressions/functions/all-functions.ts
  backend/neolace/core/lookup/expressions/functions/base.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/if.test.ts
  backend/neolace/core/lookup/expressions/functions/if.ts
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/lookup/expressions/functions/image.ts
  backend/neolace/core/lookup/expressions/functions/related.test.ts
  backend/neolace/core/lookup/expressions/functions/related.ts
  backend/neolace/core/lookup/expressions/functions/reverse.test.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
  backend/neolace/core/lookup/expressions/functions/slice.test.ts
  backend/neolace/core/lookup/expressions/functions/slice.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/plugins/loader.ts
Due: build backend docker image, deploy backend to proto

Limit the depth of andRelated()
  backend/neolace/core/lookup/expressions/functions/related.ts
Due: build backend docker image, deploy backend to proto

minor changes
  frontend/components/graph/Graph.tsx
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

Refactor LookupContext
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/home.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/context.ts
  backend/neolace/core/lookup/expressions/functions/all-functions.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/count.test.ts
  backend/neolace/core/lookup/expressions/functions/date.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/first.test.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/if.test.ts
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/lookup/expressions/functions/markdown.test.ts
  backend/neolace/core/lookup/expressions/functions/related.test.ts
  backend/neolace/core/lookup/expressions/functions/related.ts
  backend/neolace/core/lookup/expressions/functions/reverse.test.ts
  backend/neolace/core/lookup/expressions/functions/slice.test.ts
  backend/neolace/core/lookup/expressions/list-expr.test.ts
  backend/neolace/core/lookup/expressions/literal-expr.test.ts
  backend/neolace/core/lookup/expressions/this.test.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/lib/tests.ts
  frontend/lib/api-client.ts
  neolace-api/src/content/evaluate-lookup.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Change icon, add custom cursor, fix tooltip bug
  frontend/components/graph/Graph.tsx
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

Store which entry is the "focus entry" ("this")
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
  backend/neolace/core/lookup/values/GraphValue.ts
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

More detailed typing - edges have 'relType', not 'entryType'
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

Create a preliminary "Create Account" page
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/login/index.tsx
Due: build frontend docker image, deploy frontend to proto

Refactor Create User API endpoint to not have side effect
  backend/neolace/api/user/index.test.ts
  backend/neolace/api/user/index.ts
  backend/neolace/core/Site.test.ts
  backend/neolace/core/User.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

Build out "verify email + create account" page.
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
Due: build frontend docker image, deploy frontend to proto

Work toward verify email workflow
  backend/neolace/api/resources.ts
  backend/neolace/api/user/_helpers.ts
  backend/neolace/api/user/index.ts
  backend/neolace/api/user/verify-email.ts
  frontend/pages/site/[siteHost]/account/create.tsx
  neolace-api/src/api-schemas.ts
  neolace-api/src/client.ts
  neolace-api/src/errors.ts
  neolace-api/src/user.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Continue work toward email verification flow
  backend/neolace/api/user/verify-email.ts
  frontend/pages/site/[siteHost]/account/confirm/[verificationCode].tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  neolace-api/src/client.ts
  neolace-api/src/user.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

basic node expansion works on clicking
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

refactoring of transforms to make computations exclusively in graphology graph type
  frontend/components/graph/GraphFunctions.ts
  frontend/components/graph/Transforms.tsx
Due: build frontend docker image, deploy frontend to proto

added button for expand leaf.
  frontend/components/graph/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Disable account creation link for now
  frontend/pages/site/[siteHost]/login/index.tsx
Due: build frontend docker image, deploy frontend to proto

Work toward working account creation + user login
  backend/neolace/api/auth/hooks/passwordless-login.ts
  backend/neolace/api/user/index.test.ts
  backend/neolace/api/user/index.ts
  backend/neolace/api/user/me.ts
  backend/neolace/api/user/verify-email.ts
  backend/neolace/core/User.ts
  backend/neolace/lib/tests.ts
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
  frontend/pages/site/[siteHost]/account/create.tsx
  frontend/pages/site/[siteHost]/login/index.tsx
  neolace-api/src/client.ts
  neolace-api/src/user.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Work on tests
  backend/neolace/api/user/index.test.ts
Due: build backend docker image, deploy backend to proto

Implement the concept of a "Home Site"
  README.md
  backend/.vscode/tasks.json
  backend/neolace/api/site/find.test.ts
  backend/neolace/api/site/find.ts
  backend/neolace/app/config.ts
  backend/neolace/core/Site.ts
  backend/neolace/core/mailer/mailer.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/scripts/reset-dev-data-create-default-sites.ts
  frontend/components/SitePage.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/account/login-passwordless.tsx
  frontend/pages/site/[siteHost]/account/login.tsx
  frontend/public/home.svg
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Get log in functionality working again on the home site
  backend/neolace/api/auth/hooks/passwordless-login.ts
  backend/neolace/api/auth/request-login.ts
  backend/neolace/api/site/find.ts
  backend/neolace/app/config.ts
  backend/neolace/core/Site.ts
  backend/neolace/core/mailer/mailer.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/scripts/reset-dev-data-create-default-sites.ts
  docker-compose.yml
  frontend/components/SitePage.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/UISlot.tsx
  frontend/pages/site/[siteHost]/account/logout.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

feat: Log every HTTP request
  backend/neolace/api/log-middleware.ts
  backend/neolace/api/server.ts
Due: build backend docker image, deploy backend to proto

Add an account page
  frontend/components/SitePage.tsx
  frontend/pages/site/[siteHost]/account/index.tsx
Due: build frontend docker image, deploy frontend to proto

fix: formatting/linting issues in UserContext.tsx
  frontend/.eslintrc.json
  frontend/components/user/UserContext.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: CORS wasn't working if the auth middleware threw an exception
  backend/neolace/api/auth-middleware.ts
  backend/neolace/api/log-middleware.ts
  backend/neolace/api/mod.ts
Due: build backend docker image, deploy backend to proto

fix: Replace custom fix with Drash version bump that fixes same issue
  backend/neolace/api/auth-middleware.ts
  backend/neolace/deps/drash.ts
Due: build backend docker image, deploy backend to proto

Fix a bug between authn and Drash our passwordless login hook
  backend/neolace/api/auth-middleware.ts
Due: build backend docker image, deploy backend to proto

Use custom version of keratin-authn client to get cross-subdomain login
  frontend/.env.development
  frontend/components/user/UserContext.tsx
  frontend/lib/api-client.ts
  frontend/lib/config.ts
  frontend/lib/keratin-authn/README.md
  frontend/lib/keratin-authn/keratin-authn.min.d.ts
  frontend/lib/keratin-authn/keratin-authn.min.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/account/confirm/[verificationToken].tsx
Due: build frontend docker image, deploy frontend to proto

Simplify tasks required to start neolace
  README.md
  backend/.vscode/tasks.json
  frontend/.vscode/tasks.json
  frontend/package.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactoring graph functions
  frontend/components/graph/Graph.tsx
  frontend/components/graph/GraphFunctions.ts
Due: build frontend docker image, deploy frontend to proto

feat: improve error handling when applying edits
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto

fix: disable eslint for minified file - it was breaking the build
  frontend/lib/keratin-authn/keratin-authn.min.js
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
