Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

Use new upstream version of wasm-image-decoder
  backend/neolace/deps/wasm-image-decoder.ts
  backend/neolace/deps/wasm-image-decoder/mod.js
  backend/neolace/deps/wasm-image-decoder/wasm/snippets/wasm-bindgen-rayon-7afa899f36665473/src/workerHelpers.no-bundler.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.d.ts
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm.d.ts
Due: build backend docker image, deploy backend to proto

Accept larger edits when adding content
  backend/neolace/core/edit/Draft.ts
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto

Bump Drash to v2.5.2
  backend/neolace/deps/drash.ts
Due: build backend docker image, deploy backend to proto

fix: neolace-admin error in some cases when edits were empty
  neolace-api/neolace-admin.ts
Due: none

Use presigned URLs to download files
  backend/neolace/core/lookup/expressions/files.test.ts
  backend/neolace/core/lookup/expressions/files.ts
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/s3.ts
Due: build backend docker image, deploy backend to proto

Fix a little issue when importing an entry type with no entries
  neolace-api/neolace-admin.ts
Due: none

Detect the border color around images
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/core/objstore/detect-metadata.ts
  backend/neolace/sample-data/plantdb/datafiles.ts
  backend/neolace/sample-data/plantdb/images/leaf-on-white.png
  neolace-api/src/content/Entry.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

Switch to pandoc-style markdown subscript/superscript
  neolace-api/src/markdown-mdt-sub-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
Due: none

Move jsonc file to affect the whole project
  deno.jsonc
Due: none

Support for parsing footnotes
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt-footnote-plugin.ts
  neolace-api/src/markdown-mdt.ts
Due: none

Allow only inline footnotes in an inline context
  frontend/components/markdown-mdt/mdt.tsx
  neolace-api/src/deps/markdown-it/rules_block/state_block.ts
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt-footnote-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: build frontend docker image, deploy frontend to proto

Display footnotes at end of document when printing
  frontend/components/markdown-mdt/mdt.tsx
  neolace-api/src/markdown-mdt-footnote-plugin.ts
  neolace-api/src/markdown-mdt.test.ts
Due: build frontend docker image, deploy frontend to proto

Hover tooltips can stay open if you click on the link
  frontend/components/EntryLink.tsx
  frontend/components/LookupValue.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/widgets/HoverClickNote.tsx
  frontend/components/widgets/tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Fill in footnote content.
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/widgets/HoverClickNote.tsx
  frontend/components/widgets/tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Fix capitalization of Tooltip.tsx
  frontend/components/widgets/Tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Minor fixes to admin script
  neolace-api/neolace-admin.ts
Due: none

Fix an MDT parsing issue
  neolace-api/src/markdown-mdt.ts
Due: none

Upgrade to Deno 1.19.0
  .github/workflows/ci-workflow.yml
  backend/.vscode/launch.json
  backend/.vscode/tasks.json
  backend/Dockerfile
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

Ensure that *any* errors from using the API client are api.ApiError
  neolace-api/src/client.ts
  neolace-api/src/errors.ts
Due: none

frontend: Next.js SWR hook to fetch data about the current site
  frontend/lib/api-client.ts
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Developing new SitePage, UI Slot framework
  frontend/components/SitePageNew.tsx
  frontend/components/widgets/UISlot.tsx
  frontend/lib/api-client.ts
  frontend/pages/404.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Add system links to the new site page template
  frontend/components/SitePageNew.tsx
  frontend/components/widgets/UISlot.tsx
Due: build frontend docker image, deploy frontend to proto

Convert entry page to new site layout
  frontend/components/SitePageNew.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Add a breakpoint hook utility
  frontend/components/utils/breakpointHook.tsx
Due: build frontend docker image, deploy frontend to proto

Mobile menu accessed from bottom of screen + simplify site page HTML
  frontend/components/SitePageNew.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Add more icons
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

Preload site data for SitePage and any child components
  frontend/components/SitePageNew.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Convert all pages to new SitePage
  frontend/components/EntryLink.tsx
  frontend/components/LookupValue.tsx
  frontend/components/SiteContext.tsx
  frontend/components/SiteFooter.tsx
  frontend/components/SitePage.tsx
  frontend/components/SitePageNew.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/login.tsx
  frontend/pages/site/[siteHost]/login/passwordless.tsx
  frontend/pages/site/[siteHost]/search.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Move "header links" to left panel, add link hover effect.
  frontend/components/SitePage.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix weird horizontal scroll on entry pages on mobile
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Fix lint errors
  frontend/components/SitePage.tsx
  frontend/components/utils/breakpointHook.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: Next.js 12.1 doesn't include node-fetch
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Properly fix usage of node-fetch
  frontend/lib/api-client.ts
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Fix how stylesheets are included, per Next.js best practice
  frontend/components/Page.tsx
  frontend/components/SitePage.tsx
  frontend/pages/_document.tsx
  frontend/pages/admin-site/index.tsx
Due: build frontend docker image, deploy frontend to proto

Fix a warning about internationalization
  frontend/pages/404.tsx
Due: build frontend docker image, deploy frontend to proto

More fixes - missed a deleted page
  frontend/pages/404.tsx
  frontend/pages/logout.tsx
Due: build frontend docker image, deploy frontend to proto

Bump to Deno v1.20.1
  .github/workflows/ci-workflow.yml
  backend/.vscode/tasks.json
  backend/deno.jsonc
  neolace-app.code-workspace
Due: build backend docker image, deploy backend to proto

Update plan for "transform expressions"
  arch-decisions/009-lookups.md
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/LookupValue.tsx
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Move entry page into a folder
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Create a query page which can show the result of any lookup expression for a given entry
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/entry/[entryLookup]/query.tsx
Due: build frontend docker image, deploy frontend to proto
