Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Implement table of contents on mobile
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Upgrade to support Deno v1.16.0
  .gitlab-ci.yml
  .vscode/tasks.json
  backend/neolace/app/shutdown.ts
  backend/neolace/deps/blurhash.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add a little note about using DNT to build Node.js packages in future
  neolace-api/_compile.ts
Due: none

Fix: hide mobile table of contents on desktop
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Define basic format/schema of "new" properties
  arch-decisions/008-properties.md
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/technotes/schema.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

Refine new schema format, add edit actions
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/technotes/schema.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

Added a simple "import schema" test case
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/core/schema/import-schema.test.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/schema.ts
Due: build backend docker image, deploy backend to proto

Document "X Expressions"
  arch-decisions/009-lookups.md
Due: none

Implement importing Properties into schema
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/sample-data/plantdb/schema.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: build backend docker image, deploy backend to proto

WIP
  arch-decisions/009-lookups.md
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/graph.ts
  backend/neolace/core/schema/Property.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

WIP - simple test passing in properties.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/features/UseAsProperty/UseAsProperty.test.ts
  backend/neolace/core/entry/features/UseAsProperty/UseAsProperty.ts
  backend/neolace/core/entry/features/UseAsProperty/UseAsPropertyData.ts
  backend/neolace/core/entry/features/UseAsProperty/UseAsPropertyEnabled.ts
  backend/neolace/core/entry/features/all-features.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/lib/tests.ts
  backend/neolace/sample-data/plantdb/schema.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

WIP - get a relationship test passing in properties.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/sample-data/plantdb/schema.ts
Due: build backend docker image, deploy backend to proto

WIP - refactored approach, simplifications
  arch-decisions/008-properties.md
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/schema.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

WIP - get getEntryProperties() starting to work
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/sample-data/plantdb/schema.ts
  backend/neolace/sample-data/technotes/schema.ts
Due: build backend docker image, deploy backend to proto

WIP - get inheritance to work
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/schema/Property.ts
Due: build backend docker image, deploy backend to proto

WIP - implement default values
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

WIP - test multiple property values per property
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/objstore/DataFile.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

Implement "slots"
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/get-schema.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

WIP - optimize
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

Test that slots can be disabled retroactively
  backend/neolace/core/entry/properties.test.ts
Due: build backend docker image, deploy backend to proto

Implement total count of properties
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

Replace .related() lookup function with new get(prop=...) function
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/expressions/related.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Get PlantDB data working, remove old Relationship/SimplePropertyValue
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/schema/index.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/RelationshipFact.ts
  backend/neolace/core/entry/ancestors.test.ts
  backend/neolace/core/entry/ancestors.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/relationships.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/related.test.ts
  backend/neolace/core/schema/EntryType.ts
  backend/neolace/core/schema/RelationshipType.ts
  backend/neolace/core/schema/SimplePropertyValue.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/core/schema/import-schema.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/datafiles.ts
  backend/neolace/sample-data/plantdb/images/img-lassen-ponderosa.webp
  backend/neolace/sample-data/plantdb/schema.ts
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/schema.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

Fix: relationship IDs change when graph is restored from snapshot
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

Get tests for "get()" lookup passing
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/get.ts
Due: build backend docker image, deploy backend to proto

Get ancestors tests passing again
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/parse.test.ts
Due: build backend docker image, deploy backend to proto

Get all core tests passing
  backend/neolace/api/site/{siteShortId}/schema/index.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/core/schema/import-schema.test.ts
  backend/neolace/core/schema/schema.test.ts
  backend/neolace/sample-data/plantdb/schema.ts
Due: build backend docker image, deploy backend to proto

Implement reverse()
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/reverse.test.ts
  backend/neolace/core/lookup/expressions/reverse.ts
Due: build backend docker image, deploy backend to proto

Security fix for getting an entry
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

WIP - refactor AnnotatedEntryValue to AnnotatedValue in general
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/reverse.test.ts
  backend/neolace/core/lookup/values.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

WIP - work toward getting "get entry" API tests to pass
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/schema.ts
  neolace-api/src/content/Entry.ts
Due: build backend docker image, deploy backend to proto

WIP - all tests passing
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/lookup/expressions/descendants.test.ts
  backend/neolace/core/lookup/expressions/descendants.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

WIP - update frontend to display new-style properties
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/LookupValue.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Get displayAs working again
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

Get TechNotes sample content working again
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/entry/Entry.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/lib/tests.ts
  backend/neolace/sample-data/technotes/schema.ts
  backend/neolace/scripts/update-technotes-sample.ts
Due: build backend docker image, deploy backend to proto

Improve appearance of typography
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Fix typo on homepage
  backend/neolace/scripts/update-technotes-sample.ts
Due: build backend docker image, deploy backend to proto

Add "AA Battery"
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/energizer-aa.webp
Due: build backend docker image, deploy backend to proto

Consolidate TechNotes home page text
  backend/neolace/sample-data/technotes/site.ts
  backend/neolace/scripts/update-technotes-proto-site.ts
  backend/neolace/scripts/update-technotes-sample.ts
Due: build backend docker image, deploy backend to proto

Only color uncached entry links red in development
  frontend/components/EntryLink.tsx
  frontend/components/LookupValue.tsx
  frontend/lib/config.ts
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
