Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

Add history to the lookup expression input widget
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/entry/[entryLookup]/query.tsx
Due: build frontend docker image, deploy frontend to proto

Link to lookup page from "more" links
  arch-decisions/009-lookups.md
  frontend/components/LookupValue.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Rename /query to /lookup, press enter to submit a new lookup expression
  frontend/components/LookupValue.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

Add a "LookupEvaluator" widget
  frontend/components/LookupEvaluator.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

Add an API to evaluate a lookup expression
  backend/neolace/api/resources.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  neolace-api/src/client.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/content/lookup-value.ts
  neolace-api/src/errors.ts
Due: build backend docker image, deploy backend to proto

Improve debugging
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/schema/get-schema.ts
Due: build backend docker image, deploy backend to proto

Fix: .get() lookup wasn't working with "auto" properties.
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/get.ts
Due: build backend docker image, deploy backend to proto

Evaluate a lookup expression and display the result in the frontend
  frontend/components/LookupEvaluator.tsx
  frontend/components/widgets/Spinner.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  neolace-api/src/errors.ts
Due: build frontend docker image, deploy frontend to proto

Improve some error messages
  backend/neolace/core/lookup/parse.ts
  frontend/components/LookupEvaluator.tsx
  frontend/components/LookupValue.tsx
  frontend/components/widgets/ErrorMessage.tsx
  frontend/components/widgets/Icon.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Return a reference cache with the Evaluate Lookup endpoint
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/LookupEvaluator.tsx
  frontend/components/markdown-mdt/mdt.tsx
  neolace-api/src/content/Entry.ts
  neolace-api/src/content/evaluate-lookup.ts
  neolace-api/src/content/index.ts
  neolace-api/src/content/lookup-value.ts
  neolace-api/src/content/reference-cache.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Rename "find site by domain" endpoint to not be confused with "lookups"
  backend/neolace/api/resources.ts
  backend/neolace/api/site/find.test.ts
  backend/neolace/api/site/find.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

Fix: lookup page loses query on refresh
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: Keep LookupExpressionInput as a controlled component.
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

Fade out results when lookup expression is edited.
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build frontend docker image, deploy frontend to proto

Fix some minor issues
  frontend/lib/api-client.ts
Due: build frontend docker image, deploy frontend to proto

Page values can track the original expression
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/ancestors.ts
  backend/neolace/core/lookup/expressions/descendants.test.ts
  backend/neolace/core/lookup/expressions/descendants.ts
  backend/neolace/core/lookup/expressions/get.test.ts
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/reverse.test.ts
  backend/neolace/core/lookup/expressions/reverse.ts
  backend/neolace/core/lookup/values.ts
  frontend/components/LookupEvaluator.tsx
  frontend/components/LookupValue.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Implement a slice() lookup expression for pagination
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/expressions/slice.test.ts
  backend/neolace/core/lookup/expressions/slice.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Unrelated: Start to improve handling of edit errors
  backend/neolace/core/edit/ApplyEdits.ts
  neolace-api/src/errors.ts
Due: build backend docker image, deploy backend to proto

Implement pagination on the frontend
  backend/neolace/core/lookup/parse.ts
  frontend/components/LookupEvaluator.tsx
  frontend/components/LookupValue.tsx
  frontend/components/widgets/Button.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/lookup.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Temporarily pin Deno version to one that's on Docker Hub
  .github/workflows/ci-workflow.yml
Due: none

Fix pinned Deno version
  .github/workflows/ci-workflow.yml
Due: none

Minor fixes/optimizations/cleanups
  backend/.vscode/tasks.json
  backend/neolace/core/edit/ApplyEdits.ts
Due: build backend docker image, deploy backend to proto

Improve display of hero images, when their aspect ratio is known
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Allow displaying image thumbnails as property values in the frontend
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/LookupImage.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Improve github CI workflow
  .github/workflows/ci-workflow.yml
Due: none

Fix size of image thumbnails shown in frontend
  frontend/components/LookupImage.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Move tooltips into a portal
  frontend/components/utils/Portal.tsx
  frontend/components/widgets/Tooltip.tsx
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Fix warnings produced by next/image component
  frontend/components/LookupImage.tsx
Due: build frontend docker image, deploy frontend to proto

Fix minor issues
  frontend/components/widgets/Tooltip.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build frontend docker image, deploy frontend to proto

Bump frontend versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend docker image, deploy frontend to proto

Fix: schema diff wasn't catching changes to inheritable or slots
  backend/neolace/core/schema/get-schema.ts
Due: build backend docker image, deploy backend to proto

added DeleteProperty edit type.
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/edit/ApplyEdits.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

Add an API method that redirects image requests to imgproxy, for use with a CDN
  backend/neolace/api/auth-middleware.ts
  backend/neolace/api/imgproxy/index.ts
  backend/neolace/api/resources.ts
  backend/neolace/app/config.ts
  backend/neolace/lib/sha256hmac.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

Pick smarter image sizes on the frontend
  backend/neolace/app/config.ts
  frontend/next.config.js
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Allow the frontend to optionally rewrite image URLs to use a CDN
  backend/neolace/app/config.ts
  backend/neolace/core/objstore/DataFile.ts
  frontend/.env.development
  frontend/components/LookupImage.tsx
  frontend/lib/config.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup]/index.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Configure the imgproxy secrets using hex for consistency
  README.md
  backend/neolace/api/imgproxy/index.ts
  backend/neolace/app/config.ts
Due: build backend docker image, deploy backend to proto

Remove imgproxy API (moved to imgproxy-gateway microservice)
  README.md
  backend/neolace/api/imgproxy/index.ts
  backend/neolace/api/resources.ts
  backend/neolace/app/config.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

address review comments
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto

Add a UI demo page
  frontend/components/widgets/Icon.tsx
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Add a Breadcrumbs component
  frontend/components/widgets/Breadcrumbs.tsx
  frontend/components/widgets/Icon.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto
