Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Fix a bug in Firefox where we couldn't click out of the MDT editor.
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Fix script to update search index
  backend/neolace/scripts/reindex-sites.ts
Due: build backend docker image, deploy backend to proto

Use a spinner while loading search plugin
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Typing improvements
  frontend/components/SitePage.tsx
  frontend/components/user/UserContext.tsx
  frontend/components/utils/Redirect.tsx
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
  frontend/components/widgets/Tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Don't show "search has stalled" if no search is active.
  frontend/plugins/search/components/SearchBox.tsx
Due: build frontend docker image, deploy frontend to proto

Bump versions of frontend search plugin dependencies
  frontend/plugins/search/package-lock.json
  frontend/plugins/search/package.json
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Pin deno version to work around build error
  .github/workflows/ci-workflow.yml
Due: none

Implement saving edits as a new draft
  frontend/components/widgets/Icon.tsx
  frontend/lib/api-client.ts
  frontend/pages/site/[siteHost]/draft/[draftId]/entry/[entryId]/edit.tsx
  neolace-api/src/client.ts
  neolace-api/src/edit/AnyEdit.ts
  neolace-api/src/edit/Draft.ts
Due: build frontend docker image, deploy frontend to proto

Fix an exception thrown when parsing invalid strings in lookup exprs
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

We never want the default event of buttons
  frontend/components/widgets/Button.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: clicking to the right of a label shouldn't focus on its control
  frontend/components/widgets/Form.tsx
Due: build frontend docker image, deploy frontend to proto

Better error reporting on applying some edits
  backend/neolace/core/edit/ApplyEdits.ts
Due: build backend docker image, deploy backend to proto

Fix: page doesn't scroll to top when clicking links
  frontend/components/SitePage.tsx
  frontend/pages/_app.tsx
Due: build frontend docker image, deploy frontend to proto

fixed test case and getValue function
  backend/neolace/core/lookup/expressions/graph.test.ts
  backend/neolace/core/lookup/expressions/graph.ts
Due: build backend docker image, deploy backend to proto

added test for cyclical graph
  backend/neolace/core/lookup/expressions/graph.test.ts
Due: build backend docker image, deploy backend to proto

added initial graph visualization.
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/graph.ts
  backend/neolace/core/lookup/parse.ts
  frontend/components/Graph.tsx
  frontend/components/LookupValue.tsx
  frontend/package-lock.json
  frontend/package.json
  neolace-api/src/content/lookup-value.ts
  neolace-app.code-workspace
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

improved graph visualization.
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Resize the graph visualization if the window is resized.
  frontend/components/Graph.tsx
  frontend/components/utils/resizeObserverHook.tsx
Due: build frontend docker image, deploy frontend to proto

Suppress TypeSense's extremely noisy logging by default
  docker-compose.yml
Due: none

Improvements to graph display
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Fix bug with zooming (Firefox-specific)
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Display the name of each relationship type
  backend/neolace/core/entry/reference-cache.ts
  frontend/components/Graph.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

changed arrow colours
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

added label truncation for nodes and edges if label is too long
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

added tooltip for graph nodes with entry links.
  frontend/components/Graph.tsx
  frontend/components/GraphTooltip.tsx
Due: build frontend docker image, deploy frontend to proto

More display improvements
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

fix: ancestors(), descendants(), etc. should work with multiple entries
  backend/neolace/core/lookup/expressions/ancestors.ts
  backend/neolace/core/lookup/expressions/descendants.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Improve an error message
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/related.ts
Due: build backend docker image, deploy backend to proto

Implement andRelated()
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

fix: an occasional error seen when using .graph() in the frontend
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

feat: Allow [list, of, entries] to act like an entry set for graph() etc
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

fix: graph test was flaky due to inconsistent relationship order
  backend/neolace/core/lookup/expressions/graph.test.ts
Due: build backend docker image, deploy backend to proto

Tests for andRelated()
  backend/neolace/core/lookup/expressions/related.test.ts
Due: build backend docker image, deploy backend to proto

Hot reload the graph whenever its config or data changes
  frontend/components/Graph.tsx
  frontend/components/GraphTooltip.tsx
Due: build frontend docker image, deploy frontend to proto

fix: error when graph() is used with empty results.
  backend/neolace/core/lookup/expressions/graph.test.ts
  backend/neolace/core/lookup/expressions/graph.ts
Due: build backend docker image, deploy backend to proto

Fix flaky test
  backend/neolace/core/lookup/expressions/graph.test.ts
Due: build backend docker image, deploy backend to proto

Change the appearance of property values references in lookups/MDT
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

added node and edge highlighing upon clicking.
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

made hulls work on double click.
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Reduce chance of a freeze during hull.updateData()
  frontend/components/Graph.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
