Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

Fix error because "dist" doesn't exist in neolace-api/ folder
  neolace-api/_compile.ts
Due: none

Update to deploy backend+frontend images to proto.technotes.org
  .gitlab-ci.yml
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Minor fixes
  .gitlab-ci.yml
  backend/neolace/app/config.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Change S3 client to one that works better with Backblaze
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/s3.ts
Due: build backend docker image, deploy backend to proto

Create a script for updating the proto site
  backend/neolace/core/User.ts
  backend/neolace/scripts/update-technotes-proto-site.ts
Due: build backend docker image, deploy backend to proto

Fxi bug with extracting references from descriptions of entries with no article
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
Due: build backend docker image, deploy backend to proto

Work around DOM nesting issue for now. TODO: move <div> to better place.
  frontend/components/widgets/tooltip.tsx
Due: build frontend docker image, deploy frontend to proto

Update TechNotes battery example content
  backend/neolace/sample-data/technotes/content.ts
Due: build backend docker image, deploy backend to proto

Compute image dimensions and blurhash on upload
  backend/neolace/core/entry/features/Image/ImageData.ts
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/core/objstore/detect-metadata.ts
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/blurhash.ts
  backend/neolace/deps/wasm-image-decoder.ts
  backend/neolace/sample-data/technotes/datafiles.ts
Due: build backend docker image, deploy backend to proto

Speed up blurhash computation by shrinking the image first
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/core/objstore/detect-metadata.ts
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/resize-image.ts
Due: build backend docker image, deploy backend to proto

Update wasm-image-decoder to support color blurHashes for .webp images
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/deps/wasm-image-decoder.ts
  backend/neolace/deps/wasm-image-decoder/mod.js
  backend/neolace/deps/wasm-image-decoder/wasm/snippets/wasm-bindgen-rayon-7afa899f36665473/src/workerHelpers.no-bundler.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.d.ts
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.js
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm.d.ts
Due: build backend docker image, deploy backend to proto

Send blurhash data to frontend
  backend/.vscode/launch.json
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/entry/features/Image/ImageData.ts
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/core/objstore/detect-metadata.ts
  frontend/lib/blurhash.ts
  frontend/lib/blurhash2dataUri.ts
  neolace-api/src/content/Entry.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Render blurHash on the frontend while hero image is loading
  frontend/lib/blurhash.ts
  frontend/lib/blurhash2dataUri.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Deno 1.15 test compatibility
  backend/neolace/deps/hooked.ts
Due: build backend docker image, deploy backend to proto

fixup image
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
Due: build backend docker image, deploy backend to proto

Fixup for TechNotes sample content / list values
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Upgrade computed-types to 1.11.1, which brings record support + bugfixes
  neolace-api/src/api-schemas.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/deps/computed-types.ts
  neolace-api/src/deps/computed-types/DateType.ts
  neolace-api/src/deps/computed-types/Schema.ts
  neolace-api/src/deps/computed-types/Validator.ts
  neolace-api/src/deps/computed-types/array.ts
  neolace-api/src/deps/computed-types/boolean.ts
  neolace-api/src/deps/computed-types/index.ts
  neolace-api/src/deps/computed-types/number.ts
  neolace-api/src/deps/computed-types/object.ts
  neolace-api/src/deps/computed-types/schema/FunctionType.ts
  neolace-api/src/deps/computed-types/schema/compiler.ts
  neolace-api/src/deps/computed-types/schema/errors.ts
  neolace-api/src/deps/computed-types/schema/io.ts
  neolace-api/src/deps/computed-types/schema/logic.ts
  neolace-api/src/deps/computed-types/schema/switch.ts
  neolace-api/src/deps/computed-types/schema/utils.ts
  neolace-api/src/deps/computed-types/schema/validations.ts
  neolace-api/src/deps/computed-types/string.ts
  neolace-api/src/deps/computed-types/unknown.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: none

Upgrade deno std library to 0.113.0
  backend/import_map.json
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/core/objstore/objstore.ts
Due: build backend docker image, deploy backend to proto

Get S3Client to work with MinIO + Backblaze
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/s3.ts
  backend/neolace/lib/tests-default-data.ts
Due: build backend docker image, deploy backend to proto

Work around issue where process hangs and doesn't end
  backend/neolace/app/shutdown.ts
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/scripts/test-setup.ts
Due: build backend docker image, deploy backend to proto

Switch to using deno-s3-lite-client as S3 client
  backend/neolace/core/objstore/objstore.ts
  backend/neolace/deps/s3.ts
  backend/neolace/lib/tests-default-data.ts
Due: build backend docker image, deploy backend to proto

Stream files to upload storage, not one-shot upload
  backend/neolace/core/objstore/objstore.test.ts
  backend/neolace/core/objstore/objstore.ts
Due: build backend docker image, deploy backend to proto

Fix compilation of Node.js frontend bundle
  frontend/Dockerfile
  neolace-api/.vscode/tasks.json
Due: build frontend docker image, deploy frontend to proto

Fix: wasm image metadata code requires allow-read permission
  backend/Dockerfile
Due: build backend docker image, deploy backend to proto

Revert "Upgrade computed-types to 1.11.1" (some frontend types were missing)
  frontend/Dockerfile
  neolace-api/.vscode/tasks.json
  neolace-api/src/api-schemas.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/deps/computed-types.ts
  neolace-api/src/deps/computed-types/DateType.ts
  neolace-api/src/deps/computed-types/Schema.ts
  neolace-api/src/deps/computed-types/Validator.ts
  neolace-api/src/deps/computed-types/array.ts
  neolace-api/src/deps/computed-types/boolean.ts
  neolace-api/src/deps/computed-types/index.ts
  neolace-api/src/deps/computed-types/number.ts
  neolace-api/src/deps/computed-types/object.ts
  neolace-api/src/deps/computed-types/schema/FunctionType.ts
  neolace-api/src/deps/computed-types/schema/compiler.ts
  neolace-api/src/deps/computed-types/schema/errors.ts
  neolace-api/src/deps/computed-types/schema/io.ts
  neolace-api/src/deps/computed-types/schema/logic.ts
  neolace-api/src/deps/computed-types/schema/switch.ts
  neolace-api/src/deps/computed-types/schema/utils.ts
  neolace-api/src/deps/computed-types/schema/validations.ts
  neolace-api/src/deps/computed-types/string.ts
  neolace-api/src/deps/computed-types/unknown.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build frontend docker image, deploy frontend to proto

Backend: lock+cached-only not working due to wasm-image-decoder
  backend/Dockerfile
Due: build backend docker image, deploy backend to proto

Continue updating TechNotes battery content
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/li-ion-cell-jelly-roll.webp
  backend/neolace/sample-data/technotes/images/sparkfun-18650.webp
  backend/neolace/scripts/update-technotes-proto-site.ts
  backend/neolace/scripts/update-technotes-sample.ts
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add physical dimensions of battery formats
  backend/neolace/sample-data/technotes/content.ts
Due: build backend docker image, deploy backend to proto

Hide the graph placeholder for now
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Minor fixes while setting up dev environment on M1 MacBook
  .gitignore
  backend/.vscode/tasks.json
  docker-compose.yml
  frontend/package-lock.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix linting (ignore external code)
  .gitlab-ci.yml
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder.d.ts
  backend/neolace/deps/wasm-image-decoder/wasm/wasm_image_decoder_bg.wasm.d.ts
  neolace-api/src/deps/computed-types/Validator.ts
  neolace-api/src/deps/computed-types/object.ts
  neolace-api/src/deps/computed-types/schema/FunctionType.ts
  neolace-api/src/deps/computed-types/schema/compiler.ts
  neolace-api/src/deps/computed-types/schema/io.ts
  neolace-api/src/deps/computed-types/schema/logic.ts
  neolace-api/src/deps/computed-types/schema/utils.ts
  neolace-api/src/deps/computed-types/schema/validations.ts
  neolace-api/src/deps/computed-types/unknown.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Hide empty property values
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
Due: build backend docker image, deploy backend to proto

Fix weird scrolling bugs. Also scrolling over left nav now scrolls page.
  frontend/components/SitePage.tsx
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix sizing of logo in header
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Hide user avatar for now (buggy in safari)
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Fix: blur appearing above and below hero images on mobile
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix weird horizontal scrolling on mobile
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix top nav that appears on mobile
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Improve mobile display of properties
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto

Fix: vertical scroll offset when clicking #anchors on mobile
  frontend/global-styles.css
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
Due: build frontend docker image, deploy frontend to proto
