Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Better support captions on images
  backend/neolace/core/lookup/expressions/image.test.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/parse.ts
  frontend/components/LookupImage.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

BLockquote support in frontend
  frontend/components/markdown-mdt/mdt.tsx
  frontend/global-styles.css
Due: build frontend docker image, deploy frontend to proto

Implement an if() expression
  backend/neolace/core/lookup/expressions/if.test.ts
  backend/neolace/core/lookup/expressions/if.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Make value casting asynchronous to handle truthiness of lazy values
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/lookup/expression.ts
  backend/neolace/core/lookup/expressions/count.ts
  backend/neolace/core/lookup/expressions/get.ts
  backend/neolace/core/lookup/expressions/if.test.ts
  backend/neolace/core/lookup/expressions/if.ts
  backend/neolace/core/lookup/expressions/image.ts
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Implement a "Files" feature that allows attached files.
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/Files/Files.ts
  backend/neolace/core/entry/features/Files/FilesData.ts
  backend/neolace/core/entry/features/Files/FilesFeatureEnabled.ts
  backend/neolace/core/entry/features/all-features.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto

Simplify LazyCypherQueryValue / LazyEntrySetValue
  backend/neolace/core/lookup/values.ts
Due: build backend docker image, deploy backend to proto

Implement files() expression that can lookup files attached to an entry
  backend/neolace/core/lookup/expressions/files.test.ts
  backend/neolace/core/lookup/expressions/files.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/objstore/DataFile.ts
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto

Allow displaying an attached file as a property
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/files.test.ts
  backend/neolace/core/lookup/expressions/files.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/parse.ts
  frontend/components/LookupValue.tsx
  frontend/components/widgets/FormattedFileSize.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Allow disabling the hover previews per-site
  backend/neolace/api/site/lookup.test.ts
  backend/neolace/lib/tests-default-data.ts
  frontend/components/EntryLink.tsx
  frontend/components/SiteContext.tsx
  frontend/components/SitePage.tsx
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Implement theming :)
  frontend/components/SitePage.tsx
  frontend/global-styles.css
  frontend/tailwind.config.js
  neolace-api/src/site/Site.ts
Due: build frontend docker image, deploy frontend to proto

Fix links to PDFs / article full text
  backend/neolace/core/lookup/expressions/files.ts
  frontend/components/LookupValue.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Bump Deno version
  .github/workflows/ci-workflow.yml
Due: none

Use a Deno config file
  backend/deno.jsonc
  backend/neolace/app/shutdown.ts
  backend/neolace/core/Site.ts
  backend/neolace/core/User.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/entry/features/Article/Article.ts
  backend/neolace/core/entry/features/EnabledFeature.ts
  backend/neolace/core/entry/features/EntryFeatureData.ts
  backend/neolace/core/lookup/expressions/list-expr.ts
  backend/neolace/core/lookup/expressions/literal-expr.ts
  backend/neolace/core/lookup/expressions/this.ts
  backend/neolace/core/lookup/values.ts
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/lib/lru-cache.test.ts
Due: build backend docker image, deploy backend to proto

Enable Next.js 12
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: build frontend docker image, deploy frontend to proto

Enable TypeScript strict mode for frontend
  frontend/components/EntryLink.tsx
  frontend/components/LookupImage.tsx
  frontend/components/SitePage.tsx
  frontend/components/markdown-mdt/mdt.tsx
  frontend/components/user/UserContext.tsx
  frontend/components/widgets/tooltip.tsx
  frontend/lib/api-client.ts
  frontend/lib/async-cache.ts
  frontend/lib/config.ts
  frontend/pages/_app.tsx
  frontend/pages/site/[siteHost]/entry/[entryLookup].tsx
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
  frontend/pages/site/[siteHost]/index.tsx
  frontend/pages/site/[siteHost]/login.tsx
  frontend/pages/site/[siteHost]/login/passwordless.tsx
  frontend/tsconfig.json
Due: build frontend docker image, deploy frontend to proto

Upgrade to TailWind 3
  frontend/components/markdown-mdt/mdt.tsx
  frontend/global-styles.css
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

Get re-indexing working
  backend/neolace/search/update-index.ts
Due: build backend docker image, deploy backend to proto

Add TypeSense, start a script to reindex all entries
  backend/neolace/app/config.ts
  backend/neolace/core/Group.ts
  backend/neolace/deps/typesense.ts
  backend/neolace/scripts/reindex-sites.ts
  backend/neolace/search/typesense-client.ts
  backend/neolace/search/update-index.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

Update some outdated documentation
  arch-decisions/002-graph-data.md
  arch-decisions/003-code-typescript.md
  arch-decisions/004-backend-and-rest-api.md
  arch-decisions/007-sites-multitenancy.md
Due: none

Misc. cleanups I thought would be helpful for plugins
  backend/neolace/core/Site.ts
  backend/neolace/core/User.test.ts
  backend/neolace/core/User.ts
  backend/neolace/lib/secure-token.test.ts
  backend/neolace/lib/secure-token.ts
Due: build backend docker image, deploy backend to proto

Make search into our first plugin
  backend/neolace/app/config.ts
  backend/neolace/lib/secure-token.test.ts
  backend/neolace/lib/secure-token.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/mod.ts
  backend/neolace/plugins/search/SearchPluginIndexConfig.ts
  backend/neolace/plugins/search/mod.ts
  backend/neolace/plugins/search/rest-api.ts
  backend/neolace/plugins/search/site-collection.ts
  backend/neolace/plugins/search/typesense-client.ts
  backend/neolace/plugins/search/update-index.ts
  backend/neolace/scripts/reindex-sites.ts
  backend/neolace/search/typesense-client.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto

Implement plugin initialization, refactor how DB drivers are initiated
  backend/neolace/api/mod.ts
  backend/neolace/api/resources.ts
  backend/neolace/api/server.ts
  backend/neolace/app/config.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/graph.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/loader.ts
  backend/neolace/plugins/mod.ts
  backend/neolace/plugins/search/SearchPluginIndexConfig.ts
  backend/neolace/plugins/search/mod.ts
  backend/neolace/plugins/search/rest-api.ts
  backend/neolace/plugins/search/site-collection.ts
  backend/neolace/plugins/search/typesense-client.ts
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

Minor fixes and improvements
  backend/neolace/plugins/search/rest-api.ts
  backend/neolace/plugins/search/site-collection.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto

WIP: implement a frontend plugin
  frontend/next.config.js
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
  frontend/pages/site/[siteHost]/test.tsx
  frontend/plugins/search/index.tsx
  frontend/plugins/search/package-lock.json
  frontend/plugins/search/package.json
  neolace-api/src/client.ts
  neolace-api/src/site/Site.ts
Due: build frontend docker image, deploy frontend to proto

Fix CORS
  backend/neolace/api/mod.ts
  backend/neolace/api/server.ts
  backend/neolace/deps/drash.ts
  frontend/plugins/search/index.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Get the search plugin working in the frontend
  backend/neolace/plugins/search/SearchPluginIndexConfig.ts
  backend/neolace/plugins/search/site-collection.ts
  docker-compose.yml
  frontend/next.config.js
  frontend/pages/site/[siteHost]/test.tsx
  frontend/plugins/search/index.tsx
  frontend/plugins/search/package-lock.json
  frontend/plugins/search/package.json
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix: webpack was compiling unwanted files for the search plugin
  frontend/pages/site/[siteHost]/test.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Start basic work on formatting the search page
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/plugin-ui/index.tsx
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

Implement highlighting of results
  frontend/pages/site/[siteHost]/test.tsx
  frontend/plugins/search/components/Doc.ts
  frontend/plugins/search/components/Highlight.tsx
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Fix backend formatting
  backend/neolace/api/mod.ts
  backend/neolace/deps/drash.ts
  backend/neolace/plugins/mod.ts
Due: build backend docker image, deploy backend to proto

Move TypeSense client to GitHub
  backend/neolace/deps/typesense.ts
Due: build backend docker image, deploy backend to proto

Link to entries based on their friendlyId, not entry ID (also, make "get entry data for search index" a core function)
  backend/neolace/api/mod.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/api.ts
  backend/neolace/plugins/search/update-index.ts
  frontend/plugins/search/components/Hits.tsx
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Expand MDT code for converting to plain text
  neolace-api/src/markdown-mdt-ast.ts
  neolace-api/src/markdown-mdt.test.ts
  neolace-api/src/markdown-mdt.ts
Due: none

Index properties, convert lookup expressions in markdown when indexing
  backend/neolace/core/entry/entry-to-index-doc.test.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto

Style buttons on the search page
  frontend/components/widgets/Button.tsx
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

fix: frontend - use shared document class from API client
  frontend/plugins/search/components/Doc.ts
  frontend/plugins/search/components/Highlight.tsx
  frontend/plugins/search/components/Hits.tsx
Due: build frontend docker image, deploy frontend to proto

Frontend - extract <Icon/> component
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Icon.tsx
  frontend/plugins/search/components/Hits.tsx
Due: build frontend docker image, deploy frontend to proto

Move search URL to /search
  frontend/pages/site/[siteHost]/search.tsx
Due: build frontend docker image, deploy frontend to proto

Improve formatting of search box
  frontend/components/widgets/Button.tsx
  frontend/components/widgets/Icon.tsx
  frontend/components/widgets/TextInput.tsx
  frontend/plugins/search/components/SearchBox.tsx
  frontend/plugins/search/plugin-ui/index.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
