Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

Add CI using GitHub Actions (#1)
  .github/workflows/validate-code.yml
  backend/neolace/core/lookup/expressions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/descendants.test.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

Bump Drash to v2.2
  backend/.vscode/tasks.json
  backend/neolace/api/auth-middleware.ts
  backend/neolace/api/auth/hooks/passwordless-login.ts
  backend/neolace/api/auth/request-login.ts
  backend/neolace/api/index.ts
  backend/neolace/api/mod.ts
  backend/neolace/api/server.ts
  backend/neolace/api/site/lookup.ts
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/index.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.ts
  backend/neolace/api/site/{siteShortId}/home.ts
  backend/neolace/api/site/{siteShortId}/schema/index.ts
  backend/neolace/api/user/_helpers.ts
  backend/neolace/api/user/index.ts
  backend/neolace/api/user/me.ts
  backend/neolace/deps/drash-cors.ts
  backend/neolace/deps/drash.ts
Due: build backend docker image, deploy backend to proto

Add "About TechNotes"
  backend/neolace/sample-data/technotes/content.ts
  frontend/components/markdown-mdt/mdt.tsx
  frontend/global-styles.css
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Sketch of site-specific nav links
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Improve formatting of site-specific nav links
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Fix alignment of text and images on the "team" page
  frontend/components/LookupImage.tsx
Due: build frontend docker image, deploy frontend to proto

Add support for Plausible analytics
  backend/neolace/sample-data/technotes/site.ts
  backend/neolace/scripts/update-technotes-proto-site.ts
  frontend/components/SitePage.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Implement configurable redirects on each site
  backend/neolace/sample-data/technotes/site.ts
  frontend/next.config.js
  frontend/pages/site/[siteHost]/fallback/[...origPath].tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Allow configuring the site-specific nav links
  backend/neolace/api/mod.ts
  backend/neolace/api/site/lookup.test.ts
  backend/neolace/api/site/lookup.ts
  backend/neolace/core/Site.ts
  backend/neolace/lib/tests-default-data.ts
  backend/neolace/sample-data/technotes/site.ts
  frontend/components/SitePage.tsx
  frontend/lib/api-client.ts
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: Pin deno version since CI isn't working on 1.17 at the moment
  .github/workflows/validate-code.yml
Due: none

WIP: add a main workflow to orchestrate other workflows
  .github/workflows/main.yml
  .github/workflows/validate-code.yml
Due: none

Test?
  .github/workflows/main.yml
Due: none

Fix
  .github/workflows/main.yml
Due: none

Test
  .github/workflows/main.yml
Due: none

New approach
  .github/workflows/ci-workflow.yml
  .github/workflows/main.yml
  .github/workflows/validate-code.yml
Due: none

Fix
  .github/workflows/ci-workflow.yml
Due: none

Debug
  .github/workflows/ci-workflow.yml
Due: none

Detect tag to use properly
  .github/workflows/ci-workflow.yml
Due: none

Try building backend image
  .github/workflows/ci-workflow.yml
Due: none

Temp
  .github/workflows/ci-workflow.yml
Due: none

Should build backend image now
  .github/workflows/ci-workflow.yml
Due: none

Build frontend image too
  .github/workflows/ci-workflow.yml
  backend/gitlab-build-backend-image.sh
  frontend/gitlab-build-frontend-image.sh
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Try adding a package description
  .github/workflows/ci-workflow.yml
Due: none

Only build image if backend tests passed
  .github/workflows/ci-workflow.yml
Due: none

Correctly set Deno version throughout build, including Docker
  .github/workflows/ci-workflow.yml
  backend/Dockerfile
  backend/dev.Dockerfile
  frontend/Dockerfile
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

PR #4: Build docker images using GitHub Actions
  .github/workflows/ci-workflow.yml
  .github/workflows/validate-code.yml
  backend/Dockerfile
  backend/dev.Dockerfile
  backend/gitlab-build-backend-image.sh
  frontend/Dockerfile
  frontend/gitlab-build-frontend-image.sh
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Tag a version as "latest" when publishing images
  .github/workflows/ci-workflow.yml
Due: none

Merge PR #5: Tag a version as "latest" when publishing images
  .github/workflows/ci-workflow.yml
Due: none

Use Deno 1.17.x, now that 1.17.1 is released
  .github/workflows/ci-workflow.yml
Due: none

PR #6: Use Deno 1.17.x, now that 1.17.1 is released
  .github/workflows/ci-workflow.yml
Due: none

Update to Neo4j 4.3, latest Vertex Framework
  docker-compose.yml
Due: none

Add health check APIs to the backend and frontend
  backend/neolace/api/health.test.ts
  backend/neolace/api/health.ts
  backend/neolace/api/resources.ts
  frontend/pages/api/health.ts
  neolace-api/src/api-schemas.ts
  neolace-api/src/client.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fixes for top header (nav links were broken on iPhone)
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Move TechNotes example content to a separate repository
  backend/.vscode/tasks.json
  backend/neolace/app/config.ts
  backend/neolace/core/objstore/detect-metadata.test.ts
  backend/neolace/core/objstore/objstore.test.ts
  backend/neolace/sample-data/technotes/content.ts
  backend/neolace/sample-data/technotes/datafiles.ts
  backend/neolace/sample-data/technotes/images/energizer-aa.webp
  backend/neolace/sample-data/technotes/images/harvard-innovation-labs-logo.png
  backend/neolace/sample-data/technotes/images/li-ion-cell-jelly-roll.webp
  backend/neolace/sample-data/technotes/images/martin-katler-a_Fy7a4KO6g-unsplash.webp
  backend/neolace/sample-data/technotes/images/mit-sandbox-logo.png
  backend/neolace/sample-data/technotes/images/nrc-logo.png
  backend/neolace/sample-data/technotes/images/sparkfun-18650.webp
  backend/neolace/sample-data/technotes/images/team-braden.jpg
  backend/neolace/sample-data/technotes/images/team-jeff.jpg
  backend/neolace/sample-data/technotes/images/team-joel.jpg
  backend/neolace/sample-data/technotes/schema.ts
  backend/neolace/sample-data/technotes/site.ts
  backend/neolace/scripts/update-technotes-proto-site.ts
  backend/neolace/scripts/update-technotes-sample.ts
Due: build backend docker image, deploy backend to proto

Add CAMS logo
  frontend/public/cams.svg
Due: build frontend docker image, deploy frontend to proto

Fix: "Unexpected data type for 'rank' while evaluating lookup."
  backend/neolace/core/edit/ApplyEdits.ts
Due: build backend docker image, deploy backend to proto

Add support for date values
  arch-decisions/009-lookups.md
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/expressions/date.test.ts
  backend/neolace/core/lookup/expressions/date.ts
  backend/neolace/core/lookup/expressions/index.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values.ts
  frontend/components/LookupValue.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Fix: changing "type" of a property was silently ignored
  backend/neolace/core/schema/get-schema.ts
Due: build backend docker image, deploy backend to proto

Add to the frontend hard-coded support for a video on the homepage
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Add "playsinline" to get autoplay video on mobile safari
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
