Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

fix: fix GitHub actions with deno lock file
  .github/workflows/ci-workflow.yml
  neolace-api/neolace-admin.ts
Due: none

chore: Simplify test cleanup, using fixes in Neo4j driver v5.3
  backend/deno.lock
  backend/neolace/deps/vertex-framework.ts
  backend/neolace/lib/tests.ts
Due: build backend docker image, deploy backend to proto

fix: test was failing because of different Neo4jError classes in use
  backend/deno.lock
  backend/neolace/core/edit/bulk/UpsertEntryByFriendlyId.ts
  backend/neolace/core/edit/bulk/UpsertEntryById.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

refactor(api): Nicer way to export properties to YAML
  neolace-api/neolace-admin.ts
Due: none

feat(frontend): Allow setting the key when creating new Entry Types
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/lib/slugify.ts
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Allow setting the key when creating a new property
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/schema-editor/AddSchemaProperty.tsx
  frontend/components/schema-editor/EditSchemaPropertiesModal.tsx
  frontend/components/schema-editor/EditSchemaProperty.tsx
  frontend/components/schema-editor/EntryTypeModal.tsx
Due: build frontend docker image, deploy frontend to proto

chore: bump to Neo4j 5.2
  docker-compose.yml
Due: none

fix: some bugs with bulk updates
  backend/neolace/core/edit/bulk/SetPropertyFacts.test.ts
  backend/neolace/core/edit/bulk/SetPropertyFacts.ts
  backend/neolace/core/edit/bulk/SetRelationships.test.ts
  backend/neolace/core/edit/bulk/SetRelationships.ts
Due: build backend docker image, deploy backend to proto

fix: another bug with SetRelationships
  backend/neolace/core/edit/bulk/SetRelationships.test.ts
  backend/neolace/core/edit/bulk/SetRelationships.ts
Due: build backend docker image, deploy backend to proto

fix: search indexing wasn't working
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

fix: search indexing would fail due to transaction timeout
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

perf: improve performance of search indexing
  backend/neolace/core/entry/Entry.ts
  backend/neolace/core/entry/entry-to-index-doc.test.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

feat: allow searching by property values
  backend/neolace/core/entry/entry-to-index-doc.test.ts
  backend/neolace/core/entry/entry-to-index-doc.ts
  backend/neolace/plugins/search/update-index.ts
  frontend/plugins/search/components/Hit.tsx
  frontend/plugins/search/components/Hits.tsx
  frontend/plugins/search/plugin-pages/search.tsx
  neolace-api/src/site/Site.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(frontend): improve colors of entry type entities
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Format numbers when displayed as lookup values
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(backend): Allow getting entryType description via lookup
  backend/neolace/core/lookup/expressions/functions/entryType.test.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): Avoid double-layout when graph is initialized.
  frontend/components/graph/Graph.tsx
  frontend/lib/api-data/ReferenceCache.ts
Due: build frontend docker image, deploy frontend to proto

feat(backend): Limit graphs to 5,000 nodes
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.ts
  backend/neolace/lib/tests.ts
  frontend/components/graph/Graph.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactor(backend): Rename Draft "idNum" identifier to "num", to avoid confusion with "id" field.
  arch-decisions/007-sites-multitenancy.md
  backend/neolace/api/resources.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/accept.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/edit/index.test.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/edit/index.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/file.test.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/file.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/index.ts
  backend/neolace/api/site/[siteKey]/draft/_helpers.ts
  backend/neolace/api/site/[siteKey]/draft/edit-tests.test.ts
  backend/neolace/api/site/[siteKey]/draft/index.test.ts
  backend/neolace/api/site/[siteKey]/draft/index.ts
  backend/neolace/api/site/[siteKey]/schema/index.test.ts
  backend/neolace/core/edit/Draft-actions.ts
  backend/neolace/core/edit/Draft.test.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/graph.ts
  frontend/components/schema-editor/EditSchemaPropertiesModal.tsx
  frontend/components/widgets/EditDescription.tsx
  frontend/lib/api-data/DraftData.ts
  frontend/lib/api-data/Entry.ts
  frontend/lib/api-data/Permissions.ts
  frontend/pages/site/[siteHost]/draft/[draftNum]/entry/[entryId]/edit.tsx
  frontend/pages/site/[siteHost]/draft/[draftNum]/index.tsx
  frontend/pages/site/[siteHost]/draft/index.tsx
  neolace-api/neolace-admin.ts
  neolace-api/src/client.ts
  neolace-api/src/edit/Draft.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactor(backend): Files can now be uploaded without a draft
  backend/neolace/api/resources.ts
  backend/neolace/api/site/[siteKey]/draft/[draftNum]/file.test.ts
  backend/neolace/api/site/[siteKey]/file.test.ts
  backend/neolace/api/site/[siteKey]/file.ts
  backend/neolace/core/edit/Draft-actions.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/edit/TempFile-actions.ts
  backend/neolace/core/edit/TempFile.ts
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/Files/Files.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/sample-data/plantdb/images.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/client.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/Draft.ts
  neolace-api/src/permissions.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): Timeout quickly when checking the backend status
  frontend/pages/api/health.ts
Due: build frontend docker image, deploy frontend to proto

chore(plugin): Update the entryType filter in the CAMS plugin
  frontend/plugins/cams/plugin-pages/members-only.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Support uploading files to entries
  backend/neolace/core/entry/features/Files/Files.ts
  frontend/components/entry-editor/FilesEditor.tsx
  frontend/components/widgets/Dropzone.tsx
  frontend/components/widgets/Table.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/site/[siteHost]/draft/[draftNum]/entry/[entryId]/edit.tsx
  neolace-api/src/client.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: Revalidate the home page every minute in case it has been updated or has dynamic content
  frontend/pages/site/[siteHost]/index.tsx
Due: build frontend docker image, deploy frontend to proto

fix(frontend): some bugs seen on the CAMS site
  frontend/components/entry-editor/FilesEditor.tsx
  frontend/plugins/cams/plugin-pages/early-papers.tsx
  frontend/plugins/cams/plugin-pages/posters-presentations.tsx
  frontend/plugins/cams/plugin-pages/research-briefs.tsx
Due: build frontend docker image, deploy frontend to proto

fix: random tiny fixes
  backend/.vscode/tasks.json
  frontend/components/entry-editor/FilesEditor.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix: Make sure the frontend page cache will revalidate
  frontend/pages/site/[siteHost]/entry/[entryId]/index.tsx
  frontend/pages/site/[siteHost]/index.tsx
Due: build frontend docker image, deploy frontend to proto

fix: in our production/stage environments, data was loading slowly
  backend/deno.lock
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

feat: Allow configuring which Neo4j database to connect to.
  backend/deno.lock
  backend/neolace/app/config.ts
  backend/neolace/core/graph.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

chore(api): Update dependencies (deno std, dnt)
  neolace-api/_compile.ts
  neolace-api/deno.lock
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/markdown-mdt-test-helpers.ts
Due: none

chore(backend): Bump versions of several dependencies
  backend/deno.lock
  backend/import_map.json
  backend/neolace/api/user/verify-email.ts
  backend/neolace/core/redis.ts
  backend/neolace/deps/drash.ts
  backend/neolace/deps/redis.ts
  backend/neolace/deps/s3.ts
  backend/neolace/deps/typesense.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

fix(backend): Better logging of internal error causes
  backend/neolace/api/log-middleware.ts
Due: build backend docker image, deploy backend to proto

fix(backend): The "reindex all sites" shouldn't try to do huge sites like OpenAlex
  backend/neolace/plugins/search/update-index.ts
Due: build backend docker image, deploy backend to proto

chore(frontend): Bump package versions
  frontend/components/EntryPage.tsx
  frontend/components/graph/GraphLoader.tsx
  frontend/components/widgets/LookupImage.tsx
  frontend/lib/config.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/search/package.json
Due: build frontend docker image, deploy frontend to proto

feat(backend): Support WebP w/ alpha channel by bumping wasm-image-decoder
  backend/deno.lock
  backend/neolace/deps/wasm-image-decoder.ts
Due: build backend docker image, deploy backend to proto

fix(backend): Update Vertex Framework so test data snapshot works with non-constraint indexes
  backend/deno.lock
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

perf(backend): Add tests for performance of simple lookup queries
  backend/neolace/core/lookup/performance.test.ts
Due: build backend docker image, deploy backend to proto

perf(backend): Optimize LazyEntrySets and allEntries().filter()
  .github/workflows/ci-workflow.yml
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
  backend/neolace/core/lookup/expressions/functions/slice.ts
  backend/neolace/core/lookup/performance.test.ts
  backend/neolace/core/lookup/values/AllEntriesValue.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
Due: build backend docker image, deploy backend to proto

perf(backend): Optimize loading "reference cache" data
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/lookup/performance.test.ts
  backend/neolace/core/lookup/values/LazyEntrySetValue.ts
Due: build backend docker image, deploy backend to proto
