Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml

Sort allEntries() by name by default
  backend/neolace/core/lookup/expressions/functions/allEntries.test.ts
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
Due: build backend docker image, deploy backend to proto

Implement a filter() lookup function
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/filter.test.ts
  backend/neolace/core/lookup/expressions/functions/filter.ts
  backend/neolace/core/lookup/parse.ts
Due: build backend docker image, deploy backend to proto

Make it easy for the lookup code to iterate over LazyIterableValues
  backend/neolace/core/lookup/values/LazyIterableValue.test.ts
  backend/neolace/core/lookup/values/LazyIterableValue.ts
Due: build backend docker image, deploy backend to proto

Filter can exclude entry types too
  backend/neolace/core/lookup/expressions/functions/filter.test.ts
  backend/neolace/core/lookup/expressions/functions/filter.ts
Due: build backend docker image, deploy backend to proto

Make a bit less colorful and integrate with tailwind
  frontend/components/EntryPage.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

The square representing entry types should have the color of the type
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Display entries in properties table as they appear on the graph
  frontend/components/LookupValue.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto

Specify a color and abbreviation for each entry type (in the schema)
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/home.test.ts
  backend/neolace/api/site/{siteShortId}/schema/index.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/schema/EntryType.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/core/schema/schema.test.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/graph/Graph.tsx
  frontend/components/graph/Node.ts
  neolace-api/neolace-admin.ts
  neolace-api/src/content/reference-cache.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

If there is no logo, the site name should be formatted nicely
  frontend/components/SitePage.tsx
Due: build frontend docker image, deploy frontend to proto

Fix bug when importing a site with no files
  neolace-api/neolace-admin.ts
Due: none

Add entryType() lookup function to get an entry type by ID or from entry
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/entryType.test.ts
  backend/neolace/core/lookup/expressions/functions/entryType.ts
  docs/explanation/x-001-neolace.md
Due: build backend docker image, deploy backend to proto

Add example documentation
  backend/neolace/api/site/index.ts
  docs/.vscode/settings.json
  docs/create-docs-site.ts
  docs/deno.jsonc
  docs/explanation/x-001-neolace.md
  docs/explanation/x-002-architecture.md
  docs/explanation/x-003-graph-data-model.md
  docs/image/img-x-002-arch-diagram.img.png
  docs/image/img-x-002-arch-diagram.md
  docs/image/img-x-003-data-model.img.png
  docs/image/img-x-003-data-model.md
  docs/import_map.json
  docs/schema.yaml
  docs/site.ts
  docs/term/term-VNID.md
  docs/term/term-entry.md
  docs/update-docs-localdev.sh
  neolace-app.code-workspace
Due: build backend docker image, deploy backend to proto

Format Entry Type lookup values in Markdown docs in the frontend
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Implement new "normal" image display format
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/lookup/expressions/functions/image.ts
  frontend/components/LookupImage.tsx
  neolace-api/src/content/lookup-value.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Add interactive "house of security" image to CAMS home page
  backend/neolace/core/edit/ApplyEdits.ts
  frontend/components/LookupValue.tsx
  frontend/components/utils/ui-plugins.tsx
  frontend/copy-plugin-public-files.mjs
  frontend/package.json
  frontend/plugins/cams/plugin-components/HouseOfSecurity.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/cams/plugin-public/cams-header-logo.png
  frontend/plugins/cams/plugin-public/house-of-security.svg
  frontend/public/pl/.gitignore
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Bump Deno to 1.23.1, std to 0.145.0, minor backend dependencies
  .github/workflows/ci-workflow.yml
  backend/.vscode/tasks.json
  backend/Dockerfile
  backend/import_map.json
  backend/neolace/core/lookup/values/base.ts
  backend/neolace/deps/redis.ts
  backend/neolace/deps/resize-image.ts
  backend/neolace/plugins/mod.ts
  docs/create-docs-site.ts
  docs/import_map.json
  frontend/Dockerfile
  frontend/package.json
  neolace-api/.vscode/tasks.json
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/consolidate-edits.test.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Frontend version bumps (React 18.2, Tailwind 3.1)
  frontend/components/SitePage.tsx
  frontend/components/widgets/Button.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/404.tsx
  frontend/plugins/cams/plugin-definition.tsx
  frontend/tailwind.config.js
Due: build frontend docker image, deploy frontend to proto

chore(backend tests): Use new way of calling assertRejects()
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/api/user/index.test.ts
  backend/neolace/core/schema/schema.test.ts
Due: build backend docker image, deploy backend to proto

Configure this as a "devcontainer" for remote development
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .vscode/settings.json
  neolace-app.code-workspace
Due: none

Reference Cache can now track lookup refs to Entry Types, Properties
  backend/neolace/core/entry/reference-cache.ts
Due: build backend docker image, deploy backend to proto

basicSearch() lookup function for implementing autocomplete/dropdowns
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/basicSearch.test.ts
  backend/neolace/core/lookup/expressions/functions/basicSearch.ts
Due: build backend docker image, deploy backend to proto

Add more permissions checks to lookup functions
  backend/neolace/core/lookup/expressions/functions/allEntries.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.ts
  backend/neolace/core/lookup/expressions/functions/descendants.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/reverse.test.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
Due: build backend docker image, deploy backend to proto

Bump to Neo4j 4.4, Deno std 0.146
  backend/import_map.json
  backend/neolace/deps/vertex-framework.ts
  docker-compose.yml
  docs/import_map.json
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/consolidate-edits.test.ts
  neolace-api/src/markdown-mdt-test-helpers.ts
Due: build backend docker image, deploy backend to proto

Remove use of null values in string fields
  backend/neolace/api/site/find.test.ts
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/schema/index.test.ts
  backend/neolace/api/user/index.test.ts
  backend/neolace/core/Site.ts
  backend/neolace/core/User.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/objstore/DataFile.ts
  backend/neolace/core/schema/EntryType.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/schema.test.ts
  neolace-api/src/content/Entry.ts
  neolace-api/src/edit/Draft.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
  neolace-api/src/site/Site.ts
  neolace-api/src/user.ts
Due: build backend docker image, deploy backend to proto

Fix a missed change in the docs site schema
  docs/schema.yaml
Due: none

Change property 'importance' to 'rank' for consistency with prop facts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/schema/Property.ts
  backend/neolace/core/schema/get-schema.ts
  backend/neolace/sample-data/plantdb/schema.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  neolace-api/src/content/Entry.ts
  neolace-api/src/content/reference-cache.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Display notes in properties editor if they are already set
  frontend/components/entry-editor/PropertiesEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Minor lint fixes to <Portal>
  frontend/components/utils/Portal.tsx
Due: build frontend docker image, deploy frontend to proto

Entry Void in lookup expression can now display entry names/types
  frontend/components/utils/slate-mdt.tsx
Due: build frontend docker image, deploy frontend to proto

Improve selection of voids in slate editor
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
  frontend/components/widgets/MDTEditor.tsx
Due: build frontend docker image, deploy frontend to proto

Add a widget/void to represent entry literals in lookup expressions
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/components/widgets/LookupExpressionInput.tsx
Due: build frontend docker image, deploy frontend to proto

Add a 10 minute timeout to backend tests on GitLab CI
  .github/workflows/ci-workflow.yml
Due: none

Add an entry() function to get a single entry
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/entry.test.ts
  backend/neolace/core/lookup/expressions/functions/entry.ts
Due: build backend docker image, deploy backend to proto

Add a prop() function to get a property by ID, clarify schema permissions
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/entry.test.ts
  backend/neolace/core/lookup/expressions/functions/entryType.ts
  backend/neolace/core/lookup/expressions/functions/prop.test.ts
  backend/neolace/core/lookup/expressions/functions/prop.ts
  backend/neolace/core/permissions/permissions.ts
Due: build backend docker image, deploy backend to proto

Fix a bug when displaying entry type widgets outside of Slate.js
  frontend/components/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

Get rid of [[/prop/_vnid]] literal syntax
  arch-decisions/009-lookups.md
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/api/site/{siteShortId}/lookup.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/entry/PropertyFact.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/lookup/expressions/functions/image.test.ts
  backend/neolace/core/lookup/parse.test.ts
  backend/neolace/core/lookup/parse.ts
  backend/neolace/core/lookup/values/EntryTypeValue.ts
  backend/neolace/core/lookup/values/EntryValue.ts
  backend/neolace/core/lookup/values/PropertyValue.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  backend/neolace/sample-data/plantdb/schema.ts
  docs/explanation/x-002-architecture.md
  docs/explanation/x-003-graph-data-model.md
  docs/site.ts
  frontend/components/utils/slate-mdt.tsx
  frontend/components/utils/slate.ts
  frontend/pages/site/[siteHost]/ui.tsx
  frontend/plugins/cams/plugin-pages/members-only.tsx
  neolace-api/neolace-admin.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

Bump to Drash 2.7.0 - one small step closer to streaming file uploads
  backend/neolace/api/log-middleware.ts
  backend/neolace/deps/drash.ts
Due: build backend docker image, deploy backend to proto

Fix the migrate script
  backend/neolace/scripts/migrate.ts
Due: build backend docker image, deploy backend to proto

Use a hack to pre-compile the frontend, so it runs faster w/ less memory
  frontend/.env.development
  frontend/Dockerfile
  frontend/next-prebuild.sh
  frontend/next-rebuild.sh
  frontend/next.config.js
  frontend/pages/site/[siteHost]/ui.tsx
Due: build frontend docker image, deploy frontend to proto
