Repository bradenmacdonald/neolace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

build backend docker image:
  stage: build
  image: docker:20.10.2-dind
  services:
  - name: docker:20.10.2-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  script:
  - ./backend/gitlab-build-backend-image.sh
  artifacts:
    reports:
      dotenv: variables.env

deploy backend to proto:
  stage: deploy
  environment:
    name: proto
    url: https://proto.technotes.org
  needs:
  - build backend docker image
  when: manual
  image:
    name: bitnami/kubectl:latest
    entrypoint:
    - ''
  script:
  - echo "Deploying backend image '${BACKEND_IMAGE_TAG}' to ${CI_ENVIRONMENT_NAME}"
  ...

build frontend docker image:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: build
  image: docker:20.10.2-dind
  ...

deploy frontend to proto:
  variables:
    NEXT_PUBLIC_API_SERVER_URL: https://api.${CI_ENVIRONMENT_NAME}.technotes.org
    NEXT_PUBLIC_API_SERVER_INTERNAL_URL: http://technotes-backend.tn-${CI_ENVIRONMENT_NAME}
    NEXT_PUBLIC_AUTHN_URL: http://authn.${CI_ENVIRONMENT_NAME}.technotes.org
  stage: deploy
  environment:
    name: proto
  ...

feat(frontend): Better display for lists of image values
  frontend/components/widgets/LookupImage.tsx
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

fix(backend): Inconsistent result order when entries had the same name
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
Due: build backend docker image, deploy backend to proto

feat(frontend): Add support for inline footnotes in the visual editor (#169)
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/slate-editor/slate.ts
Due: build frontend docker image, deploy frontend to proto

feat(backend): sort() will always sort NULL values to be last
  backend/neolace/core/lookup/expressions/functions/sort.test.ts
  backend/neolace/core/lookup/expressions/functions/sort.ts
Due: build backend docker image, deploy backend to proto

fix(frontend): Improve the display of image thumbnails
  frontend/components/widgets/LookupImage.tsx
Due: build frontend docker image, deploy frontend to proto

feat(backend): Use .get() to retrieve a property from multiple entries
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/get.ts
  backend/neolace/sample-data/plantdb/content.ts
Due: build backend docker image, deploy backend to proto

feat(backend): new withDetail() lookup function
  backend/neolace/core/lookup/expressions.ts
  backend/neolace/core/lookup/expressions/functions/withDetail.test.ts
  backend/neolace/core/lookup/expressions/functions/withDetail.ts
Due: build backend docker image, deploy backend to proto

fix(backend): integers should be able to cast to strings
  backend/neolace/core/lookup/values/IntegerValue.ts
Due: build backend docker image, deploy backend to proto

fix(backend): reverse() to multiple entries should not return duplicates
  backend/neolace/core/lookup/expressions/functions/basicSearch.test.ts
  backend/neolace/core/lookup/expressions/functions/get.test.ts
  backend/neolace/core/lookup/expressions/functions/link.test.ts
  backend/neolace/core/lookup/expressions/functions/reverse.test.ts
  backend/neolace/core/lookup/expressions/functions/reverse.ts
Due: build backend docker image, deploy backend to proto

fix: When setting a relationship, prioritize exact matches in dropdown
  backend/neolace/core/lookup/expressions/functions/basicSearch.ts
  frontend/components/form-input/AutocompletionMenu.tsx
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

fix(admin): Display a more useful error message for invalid prop values
  neolace-api/neolace-admin.ts
Due: none

fix(frontend): Use key to force the Hero Image to reload on soft nav
  frontend/components/EntryPage.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Plugins can now wrap UI slots to modify them
  frontend/components/widgets/UISlot.tsx
Due: build frontend docker image, deploy frontend to proto

feat(cams): Display system links for admin users when logged in
  frontend/plugins/cams/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

fix(cams): Fix members only warning displaying too aggressively
  frontend/plugins/cams/plugin-components/MembersOnlyNotice.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): Annotations can be used to hide the "Show More" results link
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

feat(cams): New pages for each type of research
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/cams/plugin-pages/early-papers.tsx
  frontend/plugins/cams/plugin-pages/posters-presentations.tsx
  frontend/plugins/cams/plugin-pages/research-briefs.tsx
Due: build frontend docker image, deploy frontend to proto

fix(cams): Make the House of Security pillars smaller
  frontend/plugins/cams/plugin-components/HouseOfSecurity.tsx
Due: build frontend docker image, deploy frontend to proto

feat(frontend): File value links should download in a new tab
  frontend/components/widgets/LookupValue.tsx
Due: build frontend docker image, deploy frontend to proto

fix(plugin-commento): Attempt to fix soft nav issue
  frontend/plugins/cams/plugin-definition.tsx
  frontend/plugins/commento/plugin-definition.tsx
Due: build frontend docker image, deploy frontend to proto

feat: Custom colors for entry types
  backend/neolace/core/entry/reference-cache.ts
  backend/neolace/core/schema/EntryType.ts
  backend/neolace/core/schema/get-schema.ts
  frontend/components/graph/Graph.tsx
  frontend/components/graph/graph-g6-node.ts
  frontend/components/schema-editor/EntryTypeModal.tsx
  frontend/components/schema-editor/ListSchemaProperties.tsx
  frontend/components/slate-editor/slate-mdt.tsx
  frontend/components/widgets/EntitySymbol.tsx
  frontend/components/widgets/EntryValue.tsx
  frontend/components/widgets/LookupValue.tsx
  neolace-api/src/content/reference-cache.ts
  neolace-api/src/schema/SchemaEdit.ts
  neolace-api/src/schema/SiteSchemaData.ts
  neolace-api/src/schema/get-entry-type-color.ts
  neolace-api/src/schema/index.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

feat(backend): Allow deleting entries & entry types
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/schema/EntryType.ts
  backend/neolace/core/schema/get-schema.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/schema/SchemaEdit.ts
Due: build backend docker image, deploy backend to proto

chore: Update GitHub actions and CI workflow
  .github/workflows/ci-workflow.yml
Due: none

chore: workaround issue with action-cond, thx to https://github.com/haya14busa/action-cond/issues/17#issuecomment-1291285064
  .github/workflows/ci-workflow.yml
Due: none

chore(frontend): Update to new upstream subscript/superscript icons
  frontend/components/widgets/Icon.tsx
Due: build frontend docker image, deploy frontend to proto

refactor(backend): Move all edit implementations to separate files
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/content/AddPropertyValue.ts
  backend/neolace/core/edit/content/CreateEntry.ts
  backend/neolace/core/edit/content/DeleteEntry.ts
  backend/neolace/core/edit/content/DeletePropertyValue.ts
  backend/neolace/core/edit/content/SetEntryDescription.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.ts
  backend/neolace/core/edit/content/SetEntryName.ts
  backend/neolace/core/edit/content/UpdateEntryFeature.ts
  backend/neolace/core/edit/content/UpdatePropertyValue.ts
  backend/neolace/core/edit/implementations.ts
  backend/neolace/core/edit/schema/CreateEntryType.ts
  backend/neolace/core/edit/schema/CreateProperty.ts
  backend/neolace/core/edit/schema/DeleteEntryType.ts
  backend/neolace/core/edit/schema/DeleteProperty.ts
  backend/neolace/core/edit/schema/UpdateEntryType.ts
  backend/neolace/core/edit/schema/UpdateEntryTypeFeature.ts
  backend/neolace/core/edit/schema/UpdateProperty.ts
  backend/neolace/core/mod.ts
Due: build backend docker image, deploy backend to proto

chore(backend): Upgrade to Neo4j 5.1
  backend/neolace/core/entry/properties.ts
  backend/neolace/core/graph.ts
  backend/neolace/deps/vertex-framework.ts
  docker-compose.yml
Due: build backend docker image, deploy backend to proto

feat(backend): SetEntryName/FriendlyId/Description is no-op if same value
  backend/neolace/core/edit/content/SetEntryDescription.test.ts
  backend/neolace/core/edit/content/SetEntryDescription.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.test.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.ts
  backend/neolace/core/edit/content/SetEntryName.test.ts
  backend/neolace/core/edit/content/SetEntryName.ts
  backend/neolace/core/edit/implementations.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Record edits which are actually applied - AppliedEdit
  backend/neolace/api/site/{siteShortId}/draft/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.ts
  backend/neolace/core/edit/AppliedEdit.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/Draft-actions.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/mod.ts
  backend/neolace/sample-data/plantdb/images.ts
Due: build backend docker image, deploy backend to proto

fix(backend): drive-by fix of an import
  backend/neolace/api/site/index.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Make an EditSource required for all edits
  backend/neolace/core/edit/AppliedEdit.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/Draft-actions.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/edit/EditSource.ts
  backend/neolace/core/edit/content/SetEntryDescription.test.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.test.ts
  backend/neolace/core/edit/content/SetEntryName.test.ts
  backend/neolace/core/entry/features/Article/Article.test.ts
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/graph-init.ts
  backend/neolace/core/lookup/expressions/functions/allEntries.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/entry.test.ts
  backend/neolace/core/lookup/expressions/functions/entryType.test.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/core/schema/import-schema.ts
  backend/neolace/core/schema/schema.test.ts
  backend/neolace/lib/tests-default-data.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Report the IDs of AppliedEdits created by ApplyEdit
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/content/SetEntryDescription.test.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.test.ts
  backend/neolace/core/edit/content/SetEntryName.test.ts
Due: build backend docker image, deploy backend to proto

refactor: Consistently use "property fact" not "property value"
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/index.test.ts
  backend/neolace/core/edit/content/AddPropertyFact.ts
  backend/neolace/core/edit/content/DeletePropertyFact.ts
  backend/neolace/core/edit/content/UpdatePropertyFact.ts
  backend/neolace/core/edit/implementations.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  frontend/components/entry-editor/PropertiesEditor.tsx
  frontend/components/entry-editor/SinglePropertyEditor.tsx
  frontend/components/widgets/EditDescription.tsx
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/consolidate-edits.test.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

refactor(backend): Move getRawProperties() from API to core
  backend/neolace/api/site/{siteShortId}/entry/{entryId}/_helpers.ts
  backend/neolace/core/entry/properties.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Make DeletePropertyFact idempotent, add tests
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/core/edit/content/DeletePropertyFact.test.ts
  backend/neolace/core/edit/content/DeletePropertyFact.ts
  backend/neolace/core/edit/content/SetEntryDescription.test.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.test.ts
  backend/neolace/core/edit/content/SetEntryName.test.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Add tests for UpdateEntryFeature edit, make it no-op if article text unchanged
  backend/neolace/core/edit/content/DeleteEntry.ts
  backend/neolace/core/edit/content/UpdateEntryFeature.test.ts
  backend/neolace/core/edit/content/UpdateEntryFeature.ts
  backend/neolace/core/entry/features/Article/Article.ts
  backend/neolace/core/entry/features/Files/Files.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.ts
  backend/neolace/core/entry/features/Image/Image.ts
  backend/neolace/core/entry/features/feature.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

refactor(backend): Use new JSON Field support in Vertex Framework
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/accept.ts
  backend/neolace/core/edit/AppliedEdit.ts
  backend/neolace/core/edit/ApplyEdits.ts
  backend/neolace/core/edit/Draft-actions.ts
  backend/neolace/core/edit/Draft.ts
  backend/neolace/core/edit/content/DeletePropertyFact.test.ts
  backend/neolace/core/edit/content/SetEntryDescription.test.ts
  backend/neolace/core/edit/content/SetEntryFriendlyId.test.ts
  backend/neolace/core/edit/content/SetEntryName.test.ts
  backend/neolace/deps/vertex-framework.ts
Due: build backend docker image, deploy backend to proto

feat(backend): Add tests for UpdatePropertyFact, make it identify no-ops
  backend/neolace/core/edit/content/UpdatePropertyFact.test.ts
  backend/neolace/core/edit/content/UpdatePropertyFact.ts
  neolace-api/src/edit/ContentEdit.ts
Due: build backend docker image, deploy backend to proto

refactor(backend): Use 'entryId' consistently in all content edits
  backend/neolace/api/site/{siteShortId}/draft/_helpers.ts
  backend/neolace/api/site/{siteShortId}/draft/edit-tests.test.ts
  backend/neolace/api/site/{siteShortId}/draft/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.test.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/edit/index.ts
  backend/neolace/api/site/{siteShortId}/draft/{draftId}/file.test.ts
  backend/neolace/core/edit/content/CreateEntry.ts
  backend/neolace/core/entry/features/Article/Article.test.ts
  backend/neolace/core/entry/features/Files/Files.test.ts
  backend/neolace/core/entry/features/HeroImage/HeroImage.test.ts
  backend/neolace/core/entry/features/Image/Image.test.ts
  backend/neolace/core/entry/properties.test.ts
  backend/neolace/core/lookup/expressions/functions/allEntries.test.ts
  backend/neolace/core/lookup/expressions/functions/ancestors.test.ts
  backend/neolace/core/lookup/expressions/functions/descendants.test.ts
  backend/neolace/core/lookup/expressions/functions/entry.test.ts
  backend/neolace/core/lookup/expressions/functions/entryType.test.ts
  backend/neolace/core/lookup/expressions/functions/files.test.ts
  backend/neolace/core/lookup/expressions/functions/graph.test.ts
  backend/neolace/sample-data/plantdb/content.ts
  backend/neolace/sample-data/plantdb/images.ts
  frontend/components/entry-editor/MainEditor.tsx
  frontend/components/widgets/EditDescription.tsx
  neolace-api/neolace-admin.ts
  neolace-api/src/edit/ContentEdit.ts
  neolace-api/src/edit/apply-edits.ts
  neolace-api/src/edit/consolidate-edits.test.ts
Due: build backend docker image, deploy backend to proto, build frontend docker image, deploy frontend to proto

chore(backend): Remove 'NullOr' that's not needed since we're breaking backwards compatibility
  backend/neolace/core/permissions/Group.ts
Due: build backend docker image, deploy backend to proto

Path conditions:
  build backend docker image: any of: backend/**/*, .gitlab-ci.yml
  deploy backend to proto: any of: backend/**/*, .gitlab-ci.yml
  build frontend docker image: any of: frontend/**/*, .gitlab-ci.yml
  deploy frontend to proto: any of: frontend/**/*, .gitlab-ci.yml
